@mixin colorizeIcon($color) {
  fill: $color;

  &.has-click {
    &:hover {
      color: $primary;
    }
  }
}

@mixin themeIcon() {
  object-fit: cover;
  object-position: center;

  &.mn-color-primary {
    @include colorizeIcon($primary);
  }
  &.mn-color-secondary {
    @include colorizeIcon($secondary);
  }
  &.mn-color-tertiary {
    @include colorizeIcon($tertiary);
  }
  &.mn-color-positive {
    @include colorizeIcon($positive);
  }
  &.mn-color-negative {
    @include colorizeIcon($negative);
  }
  &.mn-color-neutral {
    @include colorizeIcon($neutral);
  }
  &.mn-color-warning {
    @include colorizeIcon($warning);
  }
  &.mn-color-info {
    @include colorizeIcon($info);
  }
  &.mn-color-1 {
    @include colorizeIcon(nth($theme-light-fg, 1));
    .mn-dark-theme & {
      @include colorizeIcon(nth($theme-dark-fg, 1));
    }
  }
  &.mn-color-2 {
    @include colorizeIcon(nth($theme-light-fg, 2));
    .mn-dark-theme & {
      @include colorizeIcon(nth($theme-dark-fg, 2));
    }
  }
  &.mn-color-3 {
    @include colorizeIcon(nth($theme-light-fg, 3));
    .mn-dark-theme & {
      @include colorizeIcon(nth($theme-dark-fg, 3));
    }
  }
  &.mn-color-4 {
    @include colorizeIcon(nth($theme-light-fg, 4));
    .mn-dark-theme & {
      @include colorizeIcon(nth($theme-dark-fg, 4));
    }
  }

  &.mn-disabled {
    opacity: 0.3;
    filter: grayscale(1);
    pointer-events: none;
  }
}

.mn-icon {
  @include themeIcon();
}

.mn-icon-container-button {
  border: none;
}
