.mn-icon {
  @include mnLayountContainable();
  // border-radius: $themeDefaultBorderRadius;
  object-fit: cover;
  object-position: center;

  &.mn-containable-item-fill-absolute {
    width: 100%;
    height: 100%;
  }

  &.mn-color-neutral {
    @include fg(1);
    @include fill(1);
  }
  &.mn-color-primary {
    color: $primary;
    fill: $primary;
  }
  &.mn-color-positive {
    color: $positive;
    fill: $positive;
  }
  &.mn-color-calm {
    color: $calm;
    fill: $calm;
  }
  &.mn-color-balanced {
    color: $balanced;
    fill: $balanced;
  }
  &.mn-color-energized {
    color: $energized;
    fill: $energized;
  }
  &.mn-color-assertive {
    color: $assertive;
    fill: $assertive;
  }
  &.mn-color-royal {
    color: $royal;
    fill: $royal;
  }
  &.mn-color-1 {
    @include fg(1);
    @include fill(1);
  }
  &.mn-color-2 {
    @include fg(2);
    @include fill(2);
  }
  &.mn-color-3 {
    @include fg(3);
    @include fill(3);
  }
  &.mn-color-4 {
    @include fg(4);
    @include fill(4);
  }
}
