$normal: #e7d8a0;
$effect: #e08151;
$ritual: #82a9d6;
$fusion: #b66cae;
$synchro: #f0eeec;
$darkSynchro: #5e5555;
$xyz: #666666;
$pendulum: #2cae88;
$link: #2e7fac;
$spell: #00a88e;
$trap: #c35891;
$tokenColor: #978d8b;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #1a9ae0;
$obelisk: #667aab;
$slifer: #d9654b;
$ra: #d4b055;
$legendaryDragon: #82b8d4;

.mn-popup.import {
  .card-import-dialog-content {
    &.websites {
      gap: calc(#{$defaultSpacing} * 2);

      .logo {
        @include shadow(2);
        margin: calc(#{$defaultSpacing} / 2);
        padding: calc(#{$defaultSpacing});
        width: 75%;
        max-height: 45%;

        &.selected {
          border: 2px solid color-hsl($primary);
          border-radius: calc(#{$defaultBorderRadius});
        }
      }
    }

    &.yuginews {
      tbody {
        tr {
          background: $effect;

          @each $class,
            $color
              in (
                Normal: $normal,
                Effet: $effect,
                Rituel: $ritual,
                Fusion: $fusion,
                Synchro: $synchro,
                Xyz: $xyz,
                Lien: $link,
                Magie: $spell,
                Piège: $trap,
                Jeton: $token,
                Compétence: $skill
              )
          {
            &.#{$class} {
              background: $color;

              &.Pendule {
                background: linear-gradient(250deg, green -29%, aquamarine 35%, $color 82%);
              }
            }
          }

          .mn-typography {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 100%;
            max-width: 100%;
            user-select: none;
            color: black;
          }

          filter: brightness(0.8);
          &.selected {
            filter: brightness(1.1);
          }
        }
      }
    }

    &.yugipedia {
      .mn-scroller-container {
        $scrollerHeight: calc(100% - 2 * #{$defaultSpacing} - 2 * 32px);
        min-height: 150px;
        max-height: calc(100% - 2 * #{$defaultSpacing} - 2 * 32px);
        width: 80%;
      }
    }
  }
}
