/*
$normal: #C4AA75;
$effect: #BA693A;
$ritual: #5E80BE;
$fusion: #8C4695;
$synchro: #EEECEA;
$darkSynchro: #564A4A;
$xyz: #000000;
$pendulum: #1d9e74;
$link: #00639D;
$spell: #008674;
$trap: #AD377A;
$tokenColor: #7D7270;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #0180C1;
$obelisk: #4F4FB4;
$slifer: #BF5541;
$ra: #B6A331;
$legendaryDragon: #4A9CBF;
*/

$normal: #e7d8a0;
$effect: #e08151;
$ritual: #82a9d6;
$fusion: #b66cae;
$synchro: #f0eeec;
$darkSynchro: #5e5555;
$xyz: #666666;
$pendulum: #2cae88;
$link: #2e7fac;
$spell: #00a88e;
$trap: #c35891;
$tokenColor: #978d8b;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #1a9ae0;
$obelisk: #667aab;
$slifer: #d9654b;
$ra: #d4b055;
$legendaryDragon: #82b8d4;

.mn-popup[id='import-popup'] {
  .mn-popup-inner {
    max-height: 90%;

    .card-import-dialog {
      $dialogHeight: calc(100% - 2 *#{$themeDefaultSpacing} - 24px);
      min-height: $dialogHeight;
      max-height: $dialogHeight;

      .mn-tab-panes {
        min-height: 400px;

        .card-import-dialog-content {
          height: calc(100% - 2 * #{$themeDefaultSpacing});

          &.yuginews {
            .yuginews-cards-table {
              height: calc(100% - 3 *#{$themeDefaultSpacing} - 3 * 32px);
            }

            .mn-table-body {
              .mn-table-row {
                @each $class,
                  $color
                    in (
                      Normal: $normal,
                      Effet: $effect,
                      Rituel: $ritual,
                      Fusion: $fusion,
                      Synchro: $synchro,
                      Xyz: $xyz,
                      Lien: $link,
                      Magie: $spell,
                      Piège: $trap,
                      Jeton: $token
                    )
                {
                  &.#{$class} {
                    background: $color;

                    &.Pendule {
                      background: linear-gradient(250deg, green -29%, aquamarine 35%, $color 82%);
                    }
                  }
                }

                .mn-typography {
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  min-width: 100%;
                  max-width: 100%;
                  user-select: none;
                  color: black;
                }

                filter: brightness(0.8);
                &.selected {
                  filter: brightness(1.2);
                }
              }
            }
          }

          &.yugipedia {
            .mn-scroller-container {
              $scrollerHeight: calc(100% - 2 *#{$themeDefaultSpacing} - 2 * 32px);
              min-height: 150px;
              max-height: calc(100% - 2 *#{$themeDefaultSpacing} - 2 * 32px);
              width: 80%;
            }
          }
        }
      }
    }
  }
}
