$normal: #e7d8a0;
$effect: #e08151;
$ritual: #82a9d6;
$fusion: #b66cae;
$synchro: #f0eeec;
$darkSynchro: #5e5555;
$xyz: #666666;
$pendulum: #2cae88;
$link: #2e7fac;
$spell: #00a88e;
$trap: #c35891;
$tokenColor: #978d8b;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #1a9ae0;
$obelisk: #667aab;
$slifer: #d9654b;
$ra: #d4b055;
$legendaryDragon: #82b8d4;

.mn-popup.card-import {
  .card-import-dialog-content {
    &.websites {
      .logo {
        @include shadow(2);
        width: 75%;
        max-height: 45%;

        &.codexygo {
          background: linear-gradient(
            135deg,
            hsl(208deg, 96%, 10%) 0%,
            hsl(208deg, 96%, 18%) 50%,
            hsl(208deg, 96%, 32%) 100%
          );
        }

        &.selected {
          border: 2px solid color-hsl($primary);
          border-radius: calc(#{$defaultBorderRadius});
        }
      }
    }

    &.yugipedia {
      .mn-scroller-container {
        $scrollerHeight: calc(100% - 2 * #{$defaultSpacing} - 2 * 32px);
        min-height: 150px;
        max-height: calc(100% - 2 * #{$defaultSpacing} - 2 * 32px);
        width: 80%;
      }
    }
  }
}
