@mixin colorizeChip($color) {
  .mn-typography,
  .mn-icon {
    @include bgAsFg(1);
    @include fill(1);
  }

  &.mn-selected {
    background-color: $color;
    color: white;
  }
}

@mixin themeChip() {
  display: inline-flex;
  padding: calc(#{$themeDefaultSpacing} / 4) calc(#{$themeDefaultSpacing} / 2);
  border-radius: calc(#{$themeDefaultBorderRadius});

  > .mn-container-inside {
    gap: calc(#{$themeDefaultSpacing} / 2);
  }

  &.no-left-icon {
    padding-left: calc(#{$themeDefaultSpacing});
  }

  &.no-right-icon {
    padding-right: calc(#{$themeDefaultSpacing});
  }

  &.mn-disabled {
    pointer-events: none;
    color: black(0.3);
    background-color: black(0.1);

    .mn-dark-theme & {
      color: white(0.3);
      background-color: white(0.1);
    }
  }

  &.mn-color-primary {
    @include colorizeChip($primary);

    .icon-right {
      &:hover {
        color: color-rgb($secondary);

        .mn-dark-theme & {
          color: color-rgb($secondary);
        }
      }
    }
  }
  &.mn-color-secondary {
    @include colorizeChip($secondary);
  }
  &.mn-color-tertiary {
    @include colorizeChip($tertiary);
  }
  &.mn-color-positive {
    @include colorizeChip($positive);
  }
  &.mn-color-negative {
    @include colorizeChip($negative);
  }
  &.mn-color-neutral {
    @include colorizeChip($neutral);
  }
  &.mn-color-warning {
    @include colorizeChip($warning);
  }
  &.mn-color-info {
    @include colorizeChip($info);
  }
  &.mn-color-1 {
    @include colorizeChip(nth($theme-light-fg, 1));
  }
  &.mn-color-2 {
    @include colorizeChip(nth($theme-light-fg, 2));
  }
  &.mn-color-3 {
    @include colorizeChip(nth($theme-light-fg, 3));
  }
  &.mn-color-4 {
    @include colorizeChip(nth($theme-light-fg, 4));
  }
}

.mn-chip {
  @include themeChip;
}

.mn-chips-input {
  min-height: calc(#{$themeDefaultItemHeight});

  &.mn-disabled {
    pointer-events: none;
    opacity: 0.2;
    filter: grayscale(100%);
  }

  input {
    border: none;
    outline: none;
    display: flex;
    flex: 1;
    font-size: inherit;
    border-radius: calc(#{$themeDefaultBorderRadius});
    min-height: calc(#{$themeDefaultItemHeight});

    background-color: transparent;
    .mn-dark-theme & {
      background-color: transparent;
    }
  }
}

.mn-select-chips {
  width: fit-content;
  min-height: calc(#{$themeDefaultItemHeight});

  &.mn-disabled {
    pointer-events: none;
    opacity: 0.2;
    filter: grayscale(100%);
  }

  .drop-icon {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.mn-popover.actions.select-chips {
  .mn-popup-actions-container {
    .action {
      &.selected {
        background-color: transparent;

        .mn-dark-theme & {
          background-color: transparent;
        }
      }

      &:not(.mn-disabled):not(.separator) {
        &:hover {
          background-color: rgba($primary, 0.5);
          color: white;

          .mn-dark-theme & {
            background-color: rgba($primary, 0.5);
          }
        }
      }
    }
  }
}

.mn-form-field.mn-field-chips {
  .input-wrapper {
    min-height: auto;
    max-height: inherit;
    height: auto;
    border: none !important;
    box-shadow: none;
    padding: 0;

    > .mn-container-inside {
      align-items: center;
    }

    background-color: transparent;
    .mn-dark-theme & {
      background-color: transparent;
    }
  }
}

.mn-form-field.mn-field-chips-input,
.mn-form-field.mn-field-select-chips {
  .input-wrapper {
    min-height: auto;
    max-height: inherit;
    padding: 0;

    .mn-chips-input {
      width: 100%;
      padding: calc(#{$themeDefaultSpacing} / 4);

      input {
        display: flex;
        flex: 1;
        width: unset;
        margin: 0;
      }
    }

    .mn-select-chips {
      width: 100%;

      > .mn-container-inside {
        align-items: stretch !important;
      }

      .chips,
      .placheholder {
        flex: 1;
        padding: calc(#{$themeDefaultSpacing} / 4);
      }

      .drop-icon {
        @include bg(3);
        @include fg(1);
        height: unset;
        min-height: unset;
        max-height: unset;
        width: calc(#{$themeDefaultItemHeight});
        cursor: pointer;
        justify-content: center;
        display: flex;
        align-items: center;
        border-left: 1px solid;
        @include border-color(4);
      }
    }
  }
}
