@mixin themeTypographyEnrichment {
  em,
  i {
    font-style: italic;
  }
  strong,
  b {
    font-weight: bold;
  }
  u {
    text-decoration: underline;
  }
  a {
    color: $primary;
    .mn-dark-theme & {
      color: white(0.7);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin themeTypographyColor() {
  &.mn-color-primary {
    fill: $primary;
  }
  &.mn-color-secondary {
    fill: $secondary;
  }
  &.mn-color-tertiary {
    fill: $tertiary;
  }
  &.mn-color-positive {
    fill: $positive;
  }
  &.mn-color-negative {
    fill: $negative;
  }
  &.mn-color-neutral {
    fill: $neutral;
  }
  &.mn-color-warning {
    fill: $warning;
  }
  &.mn-color-info {
    fill: $info;
  }
  &.mn-color-1 {
    @include fill(1);
  }
  &.mn-color-2 {
    @include fill(2);
  }
  &.mn-color-3 {
    @include fill(3);
  }
  &.mn-color-4 {
    @include fill(4);
  }
}

@mixin themeTypographyText() {
  font-size: 16px;
  line-height: 140%;
  font-family: $theme-default-font-name;
  @include themeTypographyColor();
}

@mixin themeTypographyH1() {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyH2() {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyH3() {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyH4() {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyH5() {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyH6() {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  @include themeTypographyColor();
}

@mixin themeTypographyList {
  list-style-position: outside;
  margin: 0 0 $themeDefaultSpacing * 2 $themeDefaultSpacing * 2;
  li {
    margin-top: calc($themeDefaultSpacing/2);
    line-height: 25px;
  }
  @include themeTypographyColor();
}

@mixin themeTypographyOL {
  @include themeTypographyList();
  list-style-type: decimal;
  ol {
    list-style-type: lower-latin;
  }
  @include themeTypographyColor();
}

@mixin themeTypographyUL {
  @include themeTypographyList();
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}

@mixin themeTypographyLabel {
  font-size: 20px;
  @include themeTypographyColor();
}

@mixin themeTypographyHelp {
  font: 400 14px $theme-default-font-name;
  @include themeTypographyColor();
}

@mixin themeTypographyParagraph {
  @include themeTypographyText();
  margin-bottom: $themeDefaultSpacing;
}

@mixin themeTypographyBlockquote {
  &:not(.code-block) {
    @include bg(2);
    border-left: 5px solid #ccc !important;
    @include border-color(1);
    margin: $themeDefaultSpacing 0 !important;
    padding: $themeDefaultSpacing !important;
    quotes: none;
    &:before {
      @include fg(2);
      content: '“';
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    p {
      &:last-child {
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
        display: inline;
      }
    }
  }
}

@mixin themeTypographyDocument {
  @include themeTypographyText();
  blockquote,
  q {
    @include themeTypographyBlockquote();
  }
  p {
    @include themeTypographyParagraph();
  }
}

@mixin themeTypographyBullet {
  @include themeTypographyText;
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 130%;
}

.mn-typography-right {
  text-align: right;
}
.mn-typography-center {
  text-align: center;
}

.mn-typography-h1 {
  @include themeTypographyH1;
}
.mn-typography-h2 {
  @include themeTypographyH2;
}
.mn-typography-h3 {
  @include themeTypographyH3;
}
.mn-typography-h4 {
  @include themeTypographyH4;
}
.mn-typography-h5 {
  @include themeTypographyH5;
}
.mn-typography-h6 {
  @include themeTypographyH6;
}
.mn-typography-paragraph {
  @include themeTypographyParagraph;
}

.mn-typography-help {
  @include themeTypographyHelp;
}
.mn-typography-label {
  @include themeTypographyLabel;
  @include themeTypographyEnrichment;
}

.mn-typography-document {
  @include themeTypographyDocument;
}
.mn-typography-bullet {
  @include themeTypographyBullet;
}

.mn-typography-no-wrap {
  @include text-overflow;
}

.mn-typography {
  &.bold-weight {
    font-weight: bold;
  }

  &.italic-style {
    font-style: italic;
  }

  &.underline-decoration {
    text-decoration: underline;
  }
}
