@mixin themeFileUploader() {
  text-align: center;
  border-radius: calc(#{$defaultBorderRadius});
  border: 2px dashed;
  border-color: color-hsl($fg1);

  &.dragged-over {
    border-color: color-hsl($primary);
  }
}

.mn-file-uploader {
  @include themeFileUploader();
}
