@font-face {
  font-family: fontAbilities;
  src: url(assets/fonts/itcStoneSerifBold.ttf);
}

.card-editor {
  @include bg(1);
  $borderColor: rgba(nth($theme-light-fg, 1), 0.5);
  min-width: 100%;
  max-width: 100%;

  .mn-typography {
    color: black !important;

    .mn-dark-theme & {
      color: white !important;
    }
  }

  .top-options {
    padding-top: calc($themeDefaultSpacing / 1.5) !important;
    padding-bottom: calc($themeDefaultSpacing / 2) !important;

    .mn-button {
      font-size: 14px;
    }
  }

  .card-editor-sections {
    padding-top: calc($themeDefaultSpacing / 2);
    gap: $themeDefaultSpacing * 2 !important;

    .card-editor-section {
      &.link-arrows-section {
        .mn-checkbox {
          &.checked {
            .toggle {
              background-color: $assertive !important;
              border-color: $assertive !important;
            }
          }
        }
      }

      .line-with-checkbox {
        min-height: $themeDefaultItemHeight;
      }

      .card-icons-grid {
        margin-top: -6px;
        margin-bottom: calc($themeDefaultSpacing / 2);
      }

      .sub-title-container,
      .sub-title {
        padding-bottom: calc($themeDefaultSpacing / 2);
        border-bottom: 1px solid $borderColor;
      }

      .sub-title-container {
        margin-top: calc($themeDefaultSpacing / 2);
      }

      .sub-title-checkbox {
        margin-top: $themeDefaultSpacing;

        &.checked {
          padding-bottom: calc($themeDefaultSpacing / 3);
          border-bottom: 1px solid $borderColor;
        }
      }

      .card-frame,
      .card-attribute,
      .card-st-icon {
        cursor: pointer;

        &:not(.selected) {
          opacity: 0.5;
        }

        @for $i from 1 through 20 {
          &.selected-#{$i} {
            &::after {
              $size: 16px;
              $fontSize: 12px;
              content: '#{$i}';
              position: absolute;
              bottom: 0;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: $size;
              height: $size;
              border-radius: 50%;
              text-align: center;
              line-height: $fontSize;
              font-size: $fontSize;
              background-color: adjust-hue(hsl(0, 70%, 50%), 20 * $i);
              color: #fff;
            }
          }
        }
      }

      .field-icon {
        margin-right: calc($themeDefaultSpacing/2);
      }

      .pendulum-lock-icon {
        padding: 5px;

        .icon {
          $pendLockSize: 24px;
          min-height: $pendLockSize;
          height: $pendLockSize;
          max-height: $pendLockSize;
          min-width: $pendLockSize;
          width: $pendLockSize;
          max-width: $pendLockSize;
        }

        &.mn-button-icon-pressed {
          background-color: rgba($assertive, 0.7);
        }

        &:hover {
          background-color: rgba($assertive, 0.5);
        }
      }

      .mn-textarea-input-container {
        min-width: calc(100% - 20px - $themeDefaultSpacing/2);
        max-width: calc(100% - 20px - $themeDefaultSpacing/2);
      }

      .card-abilities {
        gap: calc($themeDefaultSpacing / 2);

        .abilities-add {
          margin-bottom: - calc($themeDefaultSpacing / 4);
        }

        .card-abilities-list {
          border: 1px solid $borderColor;
          min-height: $themeDefaultItemHeight;
          @include bg(1);

          .mn-inplace-edit {
            @include bg(1);

            input {
              @include bg(1);
            }
          }

          .abilities-line {
            &:nth-child(even) {
              @include bg(3);

              .mn-inplace-edit {
                @include bg(3);

                input {
                  @include bg(3);
                }
              }
            }
          }
        }
      }

      .mn-tab-pane {
        padding: calc($themeDefaultSpacing / 2);
        border: 1px solid $borderColor;
        border-radius: 4px;

        &#regular,
        &#choice {
          padding-bottom: $themeDefaultSpacing;
        }
      }

      .choice-effects-add {
        margin-top: - calc($themeDefaultSpacing / 2);
      }

      .card-choice-effects {
        .choice-effects-add {
          margin-bottom: - calc($themeDefaultSpacing / 4);
        }

        .card-choice-effects-list {
          .choice-effects-line {
            .choice-effects-line-icons {
              min-width: calc(100% - #{$themeDefaultSpacing});
              max-width: calc(100% - #{$themeDefaultSpacing});
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}
