@use 'sass:color';

@font-face {
  font-family: fontAbilities;
  src: url('assets/fonts/itcStoneSerifBold.ttf');
}

.card-editor {
  $borderColor: color-hsla($fg1, 0.5);

  .card-editor-sections {
    .card-editor-section {
      &.link-arrows-section {
        .mn-link-arrows-editor {
          margin: -8px auto 0 auto;
          background: color-hsl($bg1);
        }
      }

      .line-with-checkbox {
        min-height: calc(#{$defaultItemHeight});
      }

      .card-icons-editor {
        margin-top: -6px;
        margin-bottom: calc(#{$smallSpacing});
      }

      .sub-title-container,
      .sub-title {
        padding-bottom: calc(#{$smallSpacing});
        border-bottom: 1px solid $borderColor;
      }

      .sub-title-container {
        margin-top: calc(#{$smallSpacing});
      }

      .sub-title-checkbox {
        margin-top: calc(#{$defaultSpacing});

        &.checked {
          padding-bottom: calc(#{$defaultSpacing} / 3);
          border-bottom: 1px solid $borderColor;
        }
      }

      .card-frame,
      .card-attribute,
      .card-st-icon {
        cursor: pointer;

        &:not(.selected) {
          opacity: 0.5;
        }

        @for $i from 1 through 20 {
          &.selected-#{$i} {
            &::after {
              $size: 16px;
              $fontSize: 12px;
              content: '#{$i}';
              position: absolute;
              bottom: 0;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: $size;
              height: $size;
              border-radius: 50%;
              text-align: center;
              line-height: $fontSize;
              font-size: $fontSize;
              background-color: color.adjust(hsl(0deg 70% 50%), $hue: 20 * $i);
              color: #fff;
            }
          }
        }
      }

      .field-icon {
        margin-right: calc(#{$smallSpacing});
      }

      .pendulum-lock-icon {
        border-radius: calc(#{$defaultBorderRadius});

        &.locked {
          background-color: color-hsla($negative, 0.7);
        }

        &:hover {
          background-color: color-hsla($negative, 0.4);
        }

        > svg {
          padding: calc(#{$tinySpacing});
        }
      }

      .mn-textarea-input-container {
        min-width: calc(100% - 20px - #{$smallSpacing});
        max-width: calc(100% - 20px - #{$smallSpacing});
      }

      .card-abilities {
        .abilities-add {
          margin-bottom: calc(-1 * #{$tinySpacing});
        }

        .card-abilities-list {
          border: 1px solid $borderColor;
          min-height: calc(#{$defaultItemHeight});
          background-color: color-hsl($bg1);

          .mn-inplace-edit {
            border-radius: 0;
            margin: calc(#{$tinySpacing} / 2) calc(#{$tinySpacing});
            border-color: color-hsl($fg2);
            background-color: color-hsl($bg1);

            input {
              background-color: color-hsl($bg1);
            }
          }

          .abilities-line {
            &:nth-child(even) {
              background-color: color-hsl($bg3);

              .mn-inplace-edit {
                background-color: color-hsl($bg3);

                input {
                  background-color: color-hsl($bg3);
                }
              }
            }
          }
        }
      }

      .mn-tabbed-pane {
        .mn-container-inside {
          .mn-tabset {
            &.mn-tabbed-pane-tab-position-top {
              border-radius: calc(#{$defaultBorderRadius});
              background-image: none;
              padding: 0;
              background-color: color-hsl($bg2);

              .item {
                background-color: color-hsl($bg3);

                &.selected {
                  background-color: color-hsl($bg2);
                }
              }
            }

            .mn-layout-spacer {
              background-color: transparent;
              border-bottom: 1px solid color-hsl($bg3);
              border-radius: calc(#{$defaultBorderRadius});
            }
          }

          .mn-tab-pane {
            border: 1px solid color-hsl($bg3);
            border-top: transparent;

            &#regular,
            &#choice {
              padding-bottom: calc(#{$defaultSpacing});
            }

            .mn-tab-button-choice {
              box-shadow: 0 -1px 0 color-hsl($bg4);
            }
          }

          .mn-tab-panes {
            .mn-textarea-input,
            .mn-text-input {
              background-color: white;
            }
          }
        }
      }

      .card-choice-effects {
        .card-choice-effects-list {
          .choice-effects-line {
            .choice-effects-line-icons {
              min-width: calc(100% - #{$defaultSpacing});
              max-width: calc(100% - #{$defaultSpacing});
            }
          }
        }
      }
    }
  }
}
