@mixin themeToolbar() {
  &.mn-bordered {
    border: 1px solid;
    border-color: color-hsl($fg2);
    background-color: color-hsl($bg1);
  }

  $verticalPadding: calc(#{$smallSpacing});
  $iconSize: 20px;
  $barHeight: 30px;
  $height: calc(#{$barHeight} + #{$verticalPadding} * 2);

  height: $height;
  min-height: $height;
  max-height: $height;
  border-radius: $barHeight;

  .mn-container-inside {
    padding: $verticalPadding calc(#{$defaultSpacing});
  }

  .mn-icon {
    $verticalMargin: calc(($barHeight - $iconSize) / 2);
    padding: $verticalMargin;
    width: $barHeight !important;
    min-width: $barHeight !important;
    max-width: $barHeight !important;
    height: $barHeight !important;
    min-height: $barHeight !important;
    max-height: $barHeight !important;
    margin-right: calc(-1 * #{$tinySpacing});
  }

  .mn-button {
    $verticalMargin: calc(($barHeight - $iconSize) / 2);

    width: $barHeight;
    min-width: $barHeight;
    max-width: $barHeight;
    height: $barHeight;
    min-height: $barHeight;
    max-height: $barHeight;
    padding: $verticalMargin;
    border-radius: 2px;

    .mn-icon {
      width: $iconSize;
      min-width: $iconSize;
      max-width: $iconSize;
      height: $iconSize;
      min-height: $iconSize;
      max-height: $iconSize;

      svg {
        width: $iconSize;
        min-width: $iconSize;
        max-width: $iconSize;
        height: $iconSize;
        min-height: $iconSize;
        max-height: $iconSize;
      }
    }
  }

  .mn-button-icon {
    $verticalMargin: calc(($barHeight - $iconSize) / 2) - 1;

    width: $barHeight;
    min-width: $barHeight;
    max-width: $barHeight;
    height: $barHeight;
    min-height: $barHeight;
    max-height: $barHeight;
    padding: $verticalMargin;
    border-radius: 2px;

    svg {
      width: $iconSize;
      min-width: $iconSize;
      max-width: $iconSize;
      height: $iconSize;
      min-height: $iconSize;
      max-height: $iconSize;
    }
  }

  > .mn-tool-group {
    display: flex;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.mn-toolbar {
  @include themeToolbar();
}
