.mn-container {
  display: flex;
  position: relative;
}
.mn-container.mn-fill {
  flex: 1;
  overflow: hidden;
}
.mn-container.has-click {
  cursor: pointer;
}
.mn-container.mn-layout-item-valign-top {
  align-items: flex-start;
  justify-content: initial;
}
.mn-container.mn-layout-item-valign-middle {
  align-items: center;
  justify-content: initial;
}
.mn-container.mn-layout-item-valign-bottom {
  align-items: flex-end;
  justify-content: initial;
}
.mn-container.mn-layout-item-align-left {
  justify-content: flex-start;
}
.mn-container.mn-layout-item-align-center {
  justify-content: center;
}
.mn-container.mn-layout-item-align-right {
  justify-content: flex-end;
}
.mn-container.horizontal-stack {
  flex-direction: row;
}
.mn-container.vertical-stack {
  flex-direction: column;
}
.mn-container.vertical-stack.mn-layout-item-align-left {
  align-items: flex-start;
  justify-content: initial;
}
.mn-container.vertical-stack.mn-layout-item-align-center {
  align-items: center;
  justify-content: initial;
}
.mn-container.vertical-stack.mn-layout-item-align-right {
  align-items: flex-end;
  justify-content: initial;
}
.mn-container.vertical-stack.mn-layout-item-valign-top {
  justify-content: flex-start;
}
.mn-container.vertical-stack.mn-layout-item-valign-middle {
  justify-content: center;
}
.mn-container.vertical-stack.mn-layout-item-valign-bottom {
  justify-content: flex-end;
}
.mn-container.mn-layout-wrap {
  flex-wrap: wrap;
  align-items: center;
}
.mn-container.mn-layout-gutter {
  gap: 16px;
}
.mn-container.mn-layout-margin-horizontal {
  margin: 0 16px;
}
.mn-container.mn-layout-margin-vertical {
  margin: 16px 0;
}
.mn-container.mn-layout-margin {
  margin: 16px;
}
.mn-container.mn-layout-padding-horizontal {
  padding: 0 16px;
}
.mn-container.mn-layout-padding-vertical {
  padding: 16px 0;
}
.mn-container .mn-layout-padding {
  padding: 16px;
}
.mn-container.mn-scroll {
  overflow-y: auto;
}
.mn-container.mn-scrollX {
  overflow-x: auto;
}

.grid-stack .mn-layout-gutter {
  gap: initial;
  margin-top: -16px;
  margin-left: -16px;
}
.grid-stack .mn-layout-gutter > * {
  padding: 16px 0 0 16px;
}
.grid-stack .mn-layout-gutter > * > * {
  width: 100%;
}
.grid-stack .mn-containable-item-width-s-1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.grid-stack .mn-containable-item-width-s-2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.grid-stack .mn-containable-item-width-s-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.grid-stack .mn-containable-item-width-s-4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.grid-stack .mn-containable-item-width-s-5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.grid-stack .mn-containable-item-width-s-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.grid-stack .mn-containable-item-width-s-7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.grid-stack .mn-containable-item-width-s-8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.grid-stack .mn-containable-item-width-s-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}
.grid-stack .mn-containable-item-width-s-10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.grid-stack .mn-containable-item-width-s-11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.grid-stack .mn-containable-item-width-s-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.mn-screen-medium .grid-stack .mn-containable-item-width-m-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.mn-screen-large .grid-stack .mn-containable-item-width-l-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.mn-screen-xlarge .grid-stack .mn-containable-item-width-xl-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.mn-screen-xxlarge .grid-stack .mn-containable-item-width-xxl-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

/*# sourceMappingURL=styles.css.map */
