.mn-toasters {
  @include fill-all;
  pointer-events: none;
  transition: background-color 0.1s ease;
  display: flex;
  justify-content: center;
  z-index: $z-index-toaster;

  .mn-toaster {
    position: absolute;
    min-width: 50%;
    max-width: 70%;
    height: fit-content;
    border-radius: $themeDefaultBorderRadius;
    transform: translateY(-100px);
    @include fx(all);
    top: $themeDefaultSpacing;
    pointer-events: auto;

    &.visible {
      transform: translateY(0);
    }

    &.hidding {
      opacity: 0;
      transform: translateY(-100px);
    }

    .mn-container-inside {
      padding: calc($themeDefaultSpacing/2) $themeDefaultSpacing;
    }
  }
}
