$pictureSmallSize: 80px;
$pictureNormalSize: 150px;
$pictureBigSize: 300px;

@mixin themePictureEditor() {
  position: relative;
  overflow: hidden;

  // Case: mouse hovering
  .mn-image,
  .icon-container {
    &:hover {
      filter: brightness(0.9);
    }
  }

  // Case: drag and drop
  &.dragged-over {
    .mn-image,
    .icon-container {
      filter: brightness(0.9);
    }
  }

  $iconPadding: calc(#{$defaultSpacing} / 4);
  $iconSize: calc(#{$pictureNormalSize} / 5 + #{$iconPadding} * 2);
  .icon-container {
    padding: $iconPadding;
    border-radius: 50%;

    right: calc(#{$defaultSpacing} / 4);
    bottom: calc(#{$defaultSpacing} / 4);

    width: $iconSize !important;
    min-width: $iconSize !important;
    max-width: $iconSize !important;
    height: $iconSize !important;
    min-height: $iconSize !important;
    max-height: $iconSize !important;

    @include shadow(1);
    border: 1px solid color-hsl($bg1);

    .mn-icon {
      width: 80% !important;
      min-width: 80% !important;
      max-width: 80% !important;
      height: 80% !important;
      min-height: 80% !important;
      max-height: 80% !important;
    }
  }

  &.small-size {
    width: $pictureSmallSize;
    min-width: $pictureSmallSize;
    max-width: $pictureSmallSize;
    height: $pictureSmallSize;
    min-height: $pictureSmallSize;
    max-height: $pictureSmallSize;

    .icon-container {
      $iconSize: calc(#{$pictureSmallSize} / 4 + #{$iconPadding} * 2);
      width: $iconSize !important;
      min-width: $iconSize !important;
      max-width: $iconSize !important;
      height: $iconSize !important;
      min-height: $iconSize !important;
      max-height: $iconSize !important;
    }

    &.circle-display {
      .icon-container {
        right: calc(#{$defaultSpacing} / 8);
        bottom: calc(#{$defaultSpacing} / 8);
      }
    }
  }

  &.normal-size {
    width: $pictureNormalSize;
    min-width: $pictureNormalSize;
    max-width: $pictureNormalSize;
    height: $pictureNormalSize;
    min-height: $pictureNormalSize;
    max-height: $pictureNormalSize;

    .icon-container {
      $iconSize: calc(#{$pictureNormalSize} / 6 + #{$iconPadding} * 2);
      width: $iconSize !important;
      min-width: $iconSize !important;
      max-width: $iconSize !important;
      height: $iconSize !important;
      min-height: $iconSize !important;
      max-height: $iconSize !important;
    }
  }

  &.big-size {
    width: $pictureBigSize;
    min-width: $pictureBigSize;
    max-width: $pictureBigSize;
    height: $pictureBigSize;
    min-height: $pictureBigSize;
    max-height: $pictureBigSize;

    .icon-container {
      $iconSize: calc(#{$pictureBigSize} / 8 + #{$iconPadding} * 2);
      width: $iconSize !important;
      min-width: $iconSize !important;
      max-width: $iconSize !important;
      height: $iconSize !important;
      min-height: $iconSize !important;
      max-height: $iconSize !important;
    }

    &.circle-display {
      .icon-container {
        right: calc(#{$defaultSpacing});
        bottom: calc(#{$defaultSpacing});
      }
    }
  }

  // Make sure the icon is still visible even in case of a not found image
  &.free-size {
    .mn-image {
      min-height: calc(0.5 * #{$defaultItemHeight} + #{$iconSize});
    }
  }

  &.circle-display {
    .mn-image {
      border-radius: 50%;
    }
  }

  &.square-display,
  &.circle-display {
    .mn-image {
      object-fit: cover;
    }
  }

  .mn-image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.mn-picture-editor {
  @include themePictureEditor();
}

@mixin themePictureField() {
  .input-wrapper {
    border: none;
    box-shadow: none;
    background-color: transparent;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
    padding: 0;
    border-radius: 0;

    .mn-picture-editor {
      margin: 0 auto;
    }
  }
}

.mn-form-field.mn-field-picture {
  @include themePictureField();
}

@mixin themePictureCropperPopup() {
  .mn-popup-content-container {
    .image-container {
      position: relative;
      overflow: hidden;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color-hsla($bg4, 0.5);

      .area {
        position: relative;
      }

      .background-image {
        position: absolute;
        object-fit: cover;
        opacity: 0.3;
      }

      .crop-area {
        position: absolute;
        overflow: hidden;

        &.circle {
          border-radius: 50%;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
}

.mn-popup.picture-cropper {
  @include themePictureCropperPopup();
}
