@charset "UTF-8";
/*
$normal: #C4AA75;
$effect: #BA693A;
$ritual: #5E80BE;
$fusion: #8C4695;
$synchro: #EEECEA;
$darkSynchro: #564A4A;
$xyz: #000000;
$pendulum: #1d9e74;
$link: #00639D;
$spell: #008674;
$trap: #AD377A;
$tokenColor: #7D7270;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #0180C1;
$obelisk: #4F4FB4;
$slifer: #BF5541;
$ra: #B6A331;
$legendaryDragon: #4A9CBF;
*/
.mn-popup[id=import-popup] .mn-popup-inner {
  max-height: 90%;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes {
  min-height: 400px;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content {
  /* &.yugipedia {
  } */
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews {
  height: calc(100% - 2 * 16px);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row {
  filter: brightness(0.8);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Normal {
  background: #E7D8A0;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Normal.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #E7D8A0 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Effet {
  background: #E08151;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Effet.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #E08151 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Rituel {
  background: #82A9D6;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Rituel.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #82A9D6 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Fusion {
  background: #B66CAE;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Fusion.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #B66CAE 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Synchro {
  background: #F0EEEC;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Synchro.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #F0EEEC 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Xyz {
  background: #666666;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Xyz.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #666666 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Lien {
  background: #2E7FAC;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Lien.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #2E7FAC 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Magie {
  background: #00A88E;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Magie.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #00A88E 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Piège {
  background: #C35891;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Piège.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #C35891 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Jeton {
  background: #978D8B;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.Jeton.Pendule {
  background: linear-gradient(250deg, green -29%, aquamarine 35%, #978D8B 82%);
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row .mn-typography {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 100%;
  max-width: 100%;
  user-select: none;
  color: black;
}
.mn-popup[id=import-popup] .mn-popup-inner .card-import-dialog .mn-tab-panes .card-import-dialog-content.yuginews .mn-table-row.selected {
  filter: brightness(1.2);
}

/*# sourceMappingURL=styles.css.map */
