@import '../../libraries/mn-toolkit/index.scss';

/*
$normal: #C4AA75;
$effect: #BA693A;
$ritual: #5E80BE;
$fusion: #8C4695;
$synchro: #EEECEA;
$darkSynchro: #564A4A;
$xyz: #000000;
$pendulum: #1d9e74;
$link: #00639D;
$spell: #008674;
$trap: #AD377A;
$tokenColor: #7D7270;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #0180C1;
$obelisk: #4F4FB4;
$slifer: #BF5541;
$ra: #B6A331;
$legendaryDragon: #4A9CBF;
*/

$normal: #E7D8A0;
$effect: #E08151;
$ritual: #82A9D6;
$fusion: #B66CAE;
$synchro: #F0EEEC;
$darkSynchro: #5E5555;
$xyz: #666666;
$pendulum: #2CAE88;
$link: #2E7FAC;
$spell: #00A88E;
$trap: #C35891;
$tokenColor: #978D8B;
$monsterToken: $tokenColor;
$token: $tokenColor;
$skill: #1A9AE0;
$obelisk: #667AAB;
$slifer: #D9654B;
$ra: #D4B055;
$legendaryDragon: #82B8D4;

.mn-popup[id="import-popup"] {
  .mn-popup-inner {
    max-height: 90%;

    .card-import-dialog {
      .mn-tab-panes {
        min-height: 400px;

        .card-import-dialog-content {
          &.yuginews {
            height: calc(100% - 2 * #{$themeDefaultSpacing});

            .mn-table-row {
              @each $class, $color in (
                Normal: $normal,
                Effet: $effect,
                Rituel: $ritual,
                Fusion: $fusion,
                Synchro: $synchro,
                Xyz: $xyz,
                Lien: $link,
                Magie: $spell,
                Piège: $trap,
                Jeton: $token
              ) {
                &.#{$class} {
                  background: $color;

                  &.Pendule {
                    background: linear-gradient(
                      250deg,
                      green -29%,
                      aquamarine 35%,
                      $color 82%
                    );
                  }
                }
              }

              .mn-typography {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                min-width: 100%;
                max-width: 100%;
                user-select: none;
                color: black;
              }

              filter: brightness(0.8);
              &.selected {
                filter: brightness(1.2);
              }
            }
          }

          /* &.yugipedia {
          } */
        }
      }
    }
  }
}
