@font-face {
  font-family: fontAbilities;
  src: url(assets/fonts/itcStoneSerifBold.ttf);
}

@keyframes colorCycle {
  0% {
    color: nth($theme-light-bg, 1);
  }
  50% {
    color: $warning;
  }
  100% {
    color: nth($theme-light-bg, 1);
  }
}

.home {
  .mn-content {
    @include fgAsBg(1);
  }

  .home-center-pane {
    height: 100%;
  }

  .home-left-pane {
    .button-tabs {
      .button-tab {
        width: 40%;
        border-radius: 32px;

        &.selected {
          font-weight: bold;
        }

        &:not(.selected) {
          @include fg(1);
        }
      }
    }

    .new-version {
      .mn-typography {
        animation: colorCycle 3s infinite;
      }
    }
  }

  .home-right-pane {
    .button-tabs {
      .button-tab {
        width: 40%;
        border-radius: 32px;

        &.selected {
          font-weight: bold;
        }

        &:not(.selected) {
          @include fg(1);
        }
      }
    }
  }
}
