@font-face {
  font-family: fontAbilities;
  src: url(assets/fonts/itcStoneSerifBold.ttf);
}

@keyframes colorCycle {
  0% {
    color: color-hsl($bg1);
  }
  50% {
    color: color-hsl($warning);
  }
  100% {
    color: color-hsl($bg1);
  }
}

.mn-view.home-view {
  .mn-content {
    background-color: $contentBg;
  }

  .home-center-pane {
    height: 100%;
  }

  .home-left-pane {
    .button-tabs {
      .button-tab {
        width: 40%;
        border-radius: 32px;

        &.selected {
          font-weight: bold;
        }

        &:not(.selected) {
          color: color-hsl($fg1);
        }
      }
    }

    .new-version {
      .mn-typography {
        animation: colorCycle 3s infinite;
      }
    }
  }

  .home-right-pane {
    .button-tabs {
      .button-tab {
        width: 40%;
        border-radius: 32px;

        &.selected {
          font-weight: bold;
        }

        &:not(.selected) {
          color: color-hsl($fg1);
        }
      }
    }
  }
}
