@mixin themeOverlay {
  @include fill-all();
  position: fixed;
  background-color: hsl(0deg, 0%, 0%);
  z-index: $z-index-overlay;
  opacity: 0;
  will-change: opacity;
  @include fx(opacity);
  pointer-events: none;
  transition: 0.4s;

  &.active {
    opacity: 0.3;
    pointer-events: auto;
  }

  &.with-menu-margin {
    left: $menu-width;
  }
}

.mn-overlay {
  @include themeOverlay();
}
