@mixin themeDrawer {
  position: fixed;
  left: 0;
  width: 75%;
  top: 0;
  bottom: 0;
  z-index: $z-index-drawer;
  display: flex;

  @include bg(1);
  border-right: 1px solid;
  @include border-color(3);
  transform: translateZ(0);
  will-change: transform;

  > .handle {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &.mn-drawer-right {
    right: 0;
  }
}

.mn-drawer {
  @include themeDrawer;
}
