@mixin themeColorPicker() {
  .mn-color-swatch,
  .mn-icon-container-button {
    $size: 20px;
    height: $size;
    min-height: $size;
    max-height: $size;
    width: $size;
    min-width: $size;
    max-width: $size;
    border-radius: $size;
    margin: calc(#{$defaultSpacing} / 4);
  }

  .mn-color-swatch {
    border: 1px solid color-hsla($fg1, 0.2);

    &.selected {
      border-width: 2px;
      border-color: color-hsl($primary);
    }
  }
}

.mn-color-picker {
  @include themeColorPicker();
}
