@import 'react-image-crop/src/ReactCrop.scss';

/* .artwork-cropping {
  $size: 50%;
  width: $size;
  min-width: $size;
  max-width: $size;
} */

.artwork-editing {
  .cropped-img {
    align-self: center;
    width: 70%;
    object-fit: fill;
    aspect-ratio: 1 / 1;

    &.pendulum-ratio {
      aspect-ratio: 703 / 526;
    }
  }
}
