/* stylelint-disable-next-line scss/load-partial-extension */
@import 'react-image-crop/src/ReactCrop.scss';

.artwork-editing {
  .cropped-img {
    align-self: center;
    width: 50%;
    object-fit: fill;
    aspect-ratio: 1 / 1;

    &.pendulum-ratio {
      aspect-ratio: 703 / 526;
    }
  }
}
