@mixin themeImage() {
  overflow: hidden;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.mn-image {
  @include themeImage();
}

@mixin themeFullscreenImages() {
  @include fill-all();
  pointer-events: none;
  transition: background-color 0.1s ease;
  z-index: $z-index-fullscreen-image;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  &.active {
    transition: background-color 0.4s ease;
    background-color: hsl(0deg 0% 0% / 0.75);
    pointer-events: auto;

    .overlay {
      display: block;
      cursor: pointer;
    }
  }

  .mn-fullscreen-image {
    z-index: 2;
    position: absolute;
    border-radius: calc(#{$defaultBorderRadius});
    @include shadow(1);
    backface-visibility: hidden;
    transform: translateZ(0);
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0 auto;

    .mn-fullscreen-image-inside {
      max-width: 100%;
      max-height: 100%;
    }

    .mn-fullscreen-image-content {
      pointer-events: none;
      visibility: hidden;

      cursor: default;
      flex: 1;
      overflow: hidden;
      width: fit-content;
      $contentGap: calc(#{$smallSpacing});

      .mn-icon-container-button {
        align-self: end;
        margin-bottom: $contentGap;

        .mn-icon {
          color: color-hsl($bg3);
          fill: color-hsl($bg3);
        }

        &:hover {
          .mn-icon {
            color: color-hsl($bg1);
            fill: color-hsl($bg1);
          }
        }
      }

      .mn-image {
        $font-values: map-get($theme-fonts, 'small');
        $font-size: map-get($font-values, 'size');
        $iconSize: 20px;
        max-height: calc(100% - #{$contentGap} * 2 - #{$font-size} * 2 - #{$iconSize});
        margin: 0 auto;
        margin-bottom: $contentGap;
      }

      .mn-typography {
        cursor: text;
      }
    }

    .mn-spinner {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .spinner-circle {
        border-top-color: hsl(0deg, 0%, 100%); // better contrast with the dark overlay
      }
    }

    &.visible {
      .mn-fullscreen-image-content {
        pointer-events: all;
        visibility: visible;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-name: mn-scale-in;
        animation-duration: 0.2s;
      }
    }
  }
}

.mn-fullscreen-images {
  @include themeFullscreenImages();
}
