@font-face {
  font-family: fontDesc;
  src: url(../resources/fonts/matrixBook.ttf);
}

@font-face {
  font-family: fontName;
  src: url(../resources/fonts/yuGiOhMatrixRegularSmallCaps1.ttf);
}

@font-face {
  font-family: fontAbilities;
  src: url(../resources/fonts/itcStoneSerifBold.ttf);
}

@font-face {
  font-family: fontPasscode;
  src: url(../resources/fonts/itcStoneSerif.ttf);
}

@font-face {
  font-family: fontCardSet;
  src: url(../resources/fonts/itcStoneSerif.ttf);
}

@font-face {
  font-family: fontAtkDef;
  src: url(../resources/fonts/matrixBoldSmallCaps.ttf);
}

.card-builder {
  $width: 813px;
  $height: 1185px;
  width: $width;
  height: $height;
  top: 0;
  left: 0;
  position: absolute;
/*   margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 40%;
  $previewPadding: 29.1512915129%;
  padding: $previewPadding 0; */

  .white-text {
    color: white;
  }

  .black-text {
    color: black;
  }

  .card-layer {
    position: absolute;
    width: 100%;
    object-fit: cover;

    &.hidden {
      visibility: hidden;
    }

    &.artwork-container {
      height: 614px;
      width: 614px;
      top: 218px;
      left: 99px;

      &.artwork-pendulum {
        height: 526px;
        width: 703px;
        top: 211px;
        left: 55px;

        &.in-pendulum-effect {
          height: 665px;
        }
      }

      &.artwork-pendulum-link {
        height: 522px;
        width: 657px;
        top: 211px;
        left: 77px;

        &.in-pendulum-effect {
          height: 661px;
        }
      }

      .artwork {
        width: 100%;
        height: 100%;
      }
    }

    &.card-name-container {
      height: 84px;
      width: 608px;
      top: 39px;
      left: 62px;
      font-family: fontName;
      font-size: 95px;
      display: flex;
      justify-content: start;

      &.skill-name-container {
        width: 690px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        top: 55px;
        font-size: 62px;
        letter-spacing: -4px;

        .card-name {
          -webkit-text-stroke: 2.5px black;
          text-shadow: 0 0 2px black;
        }
      }

      .card-name {
        width: max-content;
        margin: 0;
        overflow-x: visible;
        white-space: nowrap;
        position: absolute;
        z-index: -1;

        &.white {
          color: white;
        }

        &.black {
          color: black;
        }

        &.yellow {
          color: yellow;
        }

        &.gold {
          color: gold;
        }

        &.silver {
          color: silver;
        }

        &.rare {
          color: #949494;
        }

        &.ultra {
          color: #deb21d;
        }

        &.secret {
          color: #d3fcfc;
        }
      }

      .html2canvas-name {
        max-width: 100%;
      }
    }

    &.atk-def {
      // top: 87.81%;
      top: 1077px;
      min-width: 74px;
      font-family: fontAtkDef;
      // font-size: 24.5px;
      font-size: 37px;
      text-align: end;
      text-shadow: 0 0 black;
      width: fit-content;

      &.atk {
        right: 230px;
        left: 512px;
      }

      &.def {
        right: 66px;
        left: 673px;
      }

      &.question-mark {
        font-size: 53px;
        top: 1067px;
      }

      .stat-text {
        margin: 0;
        position: absolute;
        z-index: -1;
        min-width: 74px;
      }

      canvas {
        max-width: 74px;
      }
    }

    &.card-set {
      // top: 69.445%;
      // right: -71.2%;
      top: 825px;
      // right: -581px;
      right: 83px;
      text-align: end;
      font-family: fontCardSet;
      // font-size: 16px;
      font-size: 24px;
      text-shadow: 0 0 black;

      &.with-arrows {
        // right: -520px;
        // right: -63.4%;
        right: 147px;
      }

      &.on-pendulum {
        text-align: start;
        top: 1057px;
        right: -68px;
        // top: 89.2%;
        // right: -9%;
      }
    }

    &.passcode {
      top: 1103px;
      left: 36px;
      font-family: fontPasscode;
      // font-size: 15px;
      font-size: 23px;
      text-shadow: 0 0 black;
    }

    &.card-link-arrows {
      justify-content: center;
      align-items: center;
      width: $width;
      height: $height;
      // width: 100%;
    }

    &.card-abilities {
      font-family: fontAbilities;
      display: flex;
      justify-content: start;
      align-items: center;
      top: 888px;
      left: 63px;
      width: 689px;
      height: 37px;
      gap: 3px;
      // width: 84.5%;
      // height: 3%;
      // top: 75%;

      &.on-pendulum-link {
        top: 920px;
        // top: 77.5%;
      }

      .html2canvas-abilities {
        max-width: 95%;
      }

      .abilities-text {
        margin: 0;

        &.abilities {
          // margin-top: 0.25%;
          margin-top: 3px;
          text-transform: uppercase;
          // font-size: 17px;
          font-size: 26px;
          overflow-x: visible;
          white-space: nowrap;
          position: absolute;
          z-index: -1;

          .uppercase {
            font-size: 30px;
            // font-size: 20px;
          }
        }

        &.abilities-bracket {
          font-size: 30px;
          // font-size: 20px;

/*           &.left-bracket {
          }

          &.right-bracket {
          } */
        }
      }
    }

    &.card-description-holder {
      font-family: fontDesc;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      top: 888px;
      left: 65px;
      width: 680px;
      height: 220px;
      // width: 84%;
      // top: 75%;
      // height: 18.4%;

      &.normal-text {
        font-style: italic;
      }

      &.with-abilities {
        top: 923px;
        height: 150px;
        // top: 78%;
        // height: 12.5%;

        &.on-skill {
          height: 180px;
        }
      }

      &.on-pendulum-link {
        top: 957px;
        height: 117px;
        // top: 80.5%;
        // height: 9.5%;
      }

      .description-text {
        margin: 0;
        max-width: 100%;
        text-align: justify;
        text-shadow: 0 0 black;
      }
    }

    &.card-pendulum-effect-holder {
      font-family: fontDesc;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 556px;
      height: 127px;
      top: 746px;
      left: 127px;
      // width: 68%;
      // height: 10%;
      // top: 63.2%;

      &.on-link {
        width: 513px;
        top: 743px;
        left: 148px;
      }

      .pendulum-effect-text {
        margin: 0;
        max-width: 100%;
        text-align: justify;
        text-shadow: 0 0 black;
      }
    }
  }
}
