.settings {
  background-color: color-hsl($bg1);
  $borderColor: color-hsla($fg1, 0.5);
  width: 100%;

  .setting-field {
    > .mn-container-inside {
      gap: calc(#{$defaultSpacing} / 4);
    }
  }

  .mn-typography {
    color: black !important;

    .mn-dark-theme & {
      color: white !important;
    }
  }

  .field-icon {
    margin-right: calc(#{$defaultSpacing} / 2);
  }
}
