@import '../index.scss';

.mn-number-input {
  @include mnLayountContainable();
  line-height: $themeDefaultItemHeight - 4px;
  min-height: $themeDefaultItemHeight - 4px;

  @include fg(1);
  padding: 0 calc($themeDefaultSpacing/2);
  appearance: textfield;
  &::placeholder {
    @include fg(2);
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
