
.home-right-pane {
  height: 97%;
  width: 33%;

  .button-tabs {
    min-width: 100%;
    max-width: 100%;

    .button-tab {
      width: 40%;
      border-radius: 32px;

      &.selected {
        font-weight: bold;
      }
    }
  }
}
