.mn-file-uploader {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  gap: calc(#{$themeDefaultSpacing});
  padding: calc(#{$themeDefaultSpacing} * 2);

  border-radius: calc(#{$themeDefaultBorderRadius});
  border: 2px dashed;
  border-color: color-rgb(#{nth($theme-light-fg, 1)});
  .mn-dark-theme & {
    border-color: color-rgb(#{nth($theme-dark-fg, 1)});
  }

  &.dragged-over {
    border-color: color-rgb($primary);
  }

  &.mn-disabled {
    opacity: 0.2;
    filter: grayscale(100%);
    pointer-events: none;
  }
}
