@keyframes mn-popup-scale-in {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes mn-popup-scale-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

.mn-popups {
  @include fill-all;
  pointer-events: none;
  transition: background-color 0.1s ease;
  z-index: $z-index-popup;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    transition: background-color 0.4s ease;
    background-color: black(0.3);
    pointer-events: auto;
  }

  .mn-abstract-popup {
    position: absolute;
    border-radius: $themeDefaultBorderRadius;
    box-shadow: 0 0 10px black(0.26);
    animation-name: mn-popup-scale-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

    &.hidding {
      animation-name: mn-popup-scale-out;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }
  }
}
