.mn-popups {
  @include fill-all;
  pointer-events: none;
  transition: background-color 0.1s ease;
  z-index: $z-index-popup;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    transition: background-color 0.4s ease;
    background-color: black(0.3);
    pointer-events: auto;
  }

  .mn-popup {
    position: absolute;
    border-radius: $themeDefaultBorderRadius;
    box-shadow: 0 0 10px black(0.26);
    backface-visibility: hidden;
    visibility: hidden;
    transform: translateZ(0);

    &.active {
      display: flex;
      visibility: visible;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;

      @include on(small) {
        animation-name: mn-enter-in;
        animation-duration: 0.4s;
      }

      @include on(medium) {
        animation-name: mn-scale-in;
        animation-duration: 0.2s;
      }
    }

    &.hidding {
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;

      @include on(small) {
        animation-name: mn-leave-out;
        animation-duration: 0.4s;
      }

      @include on(medium) {
        animation-name: mn-scale-out;
        animation-duration: 0.2s;
      }
    }

    .mn-popup-header {
      .mn-popup-title {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
