@import 'libraries/mn-toolkit/index.scss';
@import './kernel/styles.scss';
@import './editor/styles.scss';

#root {
  height: 100%;
  width: 100%;
}

// Vraiment parce que c'est plus simple de hacker comme ça
.mn-zindex-content {
  z-index: inherit !important;
}

html {
  @include fgAsBg(1);
}

body {
  margin: 0;
  position: relative;
  color: white;
  height: 100vh;
/*   background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

input, textarea, .mn-inplace-edit div {
  font-family: Encode Sans Semi Condensed,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 130%;
}

input, textarea {
  &:focus-visible {
    outline-color: rgba($positive, 0.7);
    outline-width: 1px;
  }
}

.mn-checkbox.checked {
  .toggle {
    background-color: $positive !important;
    border-color: $positive !important;
  }
}
