// Vraiment parce que c'est plus simple de hacker comme ça
.mn-zindex-content {
  &:not(.mn-popup-container .mn-zindex-content):not(.mn-table):not(.card-preview-img.rendering) {
    z-index: inherit !important;
  }
}

$contentBg: #414141;

@import 'mn-toolkit/index.scss';
@import './kernel/styles.scss';
@import './editor/styles.scss';

.mn-router {
  height: 100%;
}

input,
textarea,
.mn-inplace-edit div {
  font-family:
    Encode Sans Semi Condensed,
    Verdana,
    Helvetica,
    sans-serif;
  font-size: 14px;
  line-height: 130%;
}

input,
textarea {
  &:focus-visible {
    outline-color: color-hsla($neutral, 0.7);
    outline-width: 1px;
  }
}

.mn-checkbox.checked {
  .toggle {
    background-color: color-hsl($neutral) !important;
    border-color: color-hsl($neutral) !important;
  }
}

// Fix to adapt the UX to the font
.mn-checkbox {
  .label {
    line-height: 130%;
  }
}

/* .home-left-pane {
  max-width: 22%;
}

.home-center-pane {
  .cover {
    visibility: hidden !important;
  }

  .card-preview-img {
    visibility: hidden !important;
  }

  .card-builder {
    top: -400px;
  }
}

.home-right-pane {
  // display: none !important;
  max-width: 20%;
} */
