@keyframes mn-popover-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mn-popovers {
  @include fill-all;
  pointer-events: none;
  transition: background-color 0.1s ease;
  z-index: $z-index-popover;
  display: flex;
  align-items: center;
  justify-content: center;

  .mn-abstract-popover {
    position: absolute;
    animation-name: mn-popover-appear;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    pointer-events: auto;
    @include bg(1);
    border-radius: $themeDefaultBorderRadius;
    box-shadow: black(0.2) 0px 1px 0.25rem 0px;

    &.actions {
      > .mn-container-inside {
        padding-right: 0px;
      }

      .action {
        min-height: $themeDefaultItemHeight;
        max-height: $themeDefaultItemHeight;
        padding: 0 calc($themeDefaultSpacing / 2);

        &.separator {
          min-height: 1px;
          max-height: 1px;
          background-color: black(0.3);

          .mn-dark-theme & {
            background-color: white(0.3);
          }
        }

        &:not(.mn-disabled):not(.separator) {
          &:hover {
            @include bg(3);
          }
        }

        &.selected {
          @include bg(3);
        }
      }
    }
  }
}
