@import '../index.scss';

.mn-textarea-input {
  @include mnLayountContainable();
  @include fg(1);
  background-color: transparent;
  border: none;
  line-height: 20px;
  padding: 5px;
  resize: none;
  flex: 1;
  &::placeholder {
    @include fg(2);
  }
}
