$defaultSpacing: var(--default-spacing);
$defaultItemHeight: var(--default-item-height);
$defaultBorderRadius: var(--default-border-radius);
$maxContentWidth: var(--max-content-width);
$fieldBorderSize: var(--field-border-size);
