$tinySpacing: var(--tiny-spacing);
$smallSpacing: var(--small-spacing);
$defaultSpacing: var(--default-spacing);
$largeSpacing: var(--large-spacing);
$hugeSpacing: var(--huge-spacing);

$defaultItemHeight: var(--default-item-height);
$defaultBorderRadius: var(--default-border-radius);
$fieldBorderSize: var(--field-border-size);
