.mn-container {
  &.vertical-stack {
    flex-direction: column;
  }

  &.horizontal-stack {
    flex-direction: row;
  }

  &.mn-gutter {
    gap: 16px;
  }

  &.mn-margin {
    margin: 16px;
  }

  &.mn-scroll {
    overflow-y: auto;
  }

  &.mn-scrollX {
    overflow-x: auto;
  }
}
