@import '../index.scss';

.mn-container {
  display: flex;

  &.vertical-stack {
    flex-direction: column;
  }

  &.horizontal-stack {
    flex-direction: row;
  }

  &.mn-layout-gutter {
    gap: $themeDefaultSpacing;
  }

  &.mn-layout-margin {
    margin: $themeDefaultSpacing;
  }

  .mn-layout-padding {
    padding: $themeDefaultSpacing;
  }

  &.mn-scroll {
    overflow-y: auto;
  }

  &.mn-scrollX {
    overflow-x: auto;
  }

  &.mn-layout-item-align-left {
    align-items: flex-start;
    justify-content: initial;
  }

  &.mn-layout-item-align-center {
    align-items: center;
    justify-content: initial;
  }

  &.mn-layout-item-align-right {
    align-items: flex-end;
    justify-content: initial;
  }

  &.mn-layout-item-valign-top {
    justify-content: flex-start;
  }

  &.mn-layout-item-valign-middle {
    justify-content: center;
  }

  &.mn-layout-item-valign-bottom {
    justify-content: flex-end;
  }
}
