/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
  font-family: fontDesc;
  src: url('assets/fonts/matrixBook.ttf');
}

@font-face {
  font-family: fontDescTcgAt;
  src: url('assets/fonts/NCAASanDiegoStAztecs.ttf');
}

@font-face {
  font-family: fontName;
  src: url('assets/fonts/yuGiOhMatrixRegularSmallCaps1.ttf');
}

@font-face {
  font-family: fontAbilities;
  src: url('assets/fonts/itcStoneSerifBold.ttf');
}

@font-face {
  font-family: fontPasscode;
  src: url('assets/fonts/itcStoneSerif.ttf');
}

@font-face {
  font-family: fontCardSet;
  src: url('assets/fonts/itcStoneSerif.ttf');
}

@font-face {
  font-family: fontAtkDef;
  src: url('assets/fonts/matrixBoldSmallCaps.ttf');
}

@font-face {
  font-family: fontRushAtkDef;
  src: url('assets/fonts/RoGSanSrfStd-Bd.otf');
}

.card-builder {
  $width: 813px;
  $height: 1185px;
  width: $width;
  height: $height;
  top: 0;
  left: 0;
  position: absolute;

  p,
  span {
    font-family: unset;
    font-size: unset;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: unset;
  }

  .custom-container {
    display: flex;
    position: relative;
    flex-direction: row;

    &.vertical {
      flex-direction: column;
    }
  }

  .white-text {
    color: white;
  }

  .black-text {
    color: black;
  }

  .card-layer {
    position: absolute;
    width: 100%;
    object-fit: cover;

    &.hidden {
      visibility: hidden;
    }

    &.artwork-container {
      height: 614px;
      width: 614px;
      top: 218px;
      left: 99px;

      &.artwork-pendulum {
        height: 526px;
        width: 703px;
        top: 211px;
        left: 55px;

        &.in-pendulum-effect {
          height: 665px;
        }
      }

      &.artwork-pendulum-link {
        height: 522px;
        width: 657px;
        top: 211px;
        left: 77px;

        &.in-pendulum-effect {
          height: 661px;
        }
      }

      .artwork {
        width: 100%;
        height: 100%;
      }
    }

    &.card-name-container {
      height: 84px;
      width: 608px;
      top: 39px;
      left: 62px;
      font-size: 95px;
      display: flex;
      justify-content: start;
      font-family: fontName;

      .special-char-span {
        font-family: fontDesc;
        font-size: 66px;
        font-weight: bold;

        &.tcg-at {
          font-weight: unset;
          font-family: fontDescTcgAt;
          font-size: 70px;
        }

        &.plusminus {
          font-family: fontName;
        }

        &.hash {
          font-family: fontName;
          font-size: 78px;
        }

        &.small-pi {
          font-family: fontDescTcgAt;
        }

        &.capital-delta {
          font-family: fontName;
        }

        &.capital-omega {
          font-family: fontDescTcgAt;
        }
      }

      &.token-name-container,
      &.skill-name-container {
        width: 690px;
      }

      &.skill-name-container {
        top: 61px;

        .card-name {
          -webkit-text-stroke: 2.5px black;
          text-shadow: 0 0 2px black;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 800;
          font-size: 62px;
          letter-spacing: -4px;
        }
      }

      .card-name {
        width: max-content;
        margin: 0;
        overflow-x: visible;
        white-space: nowrap;
        position: absolute;
        transform-origin: left;

        &.white {
          color: white;
        }

        &.black {
          color: black;
        }

        &.yellow {
          color: yellow;
        }

        &.gold {
          color: gold;
        }

        &.silver {
          color: silver;
        }

        &.rare {
          color: #949494;
        }

        &.ultra {
          color: #deb21d;
        }

        &.secret {
          color: #d3fcfc;
        }
      }
    }

    &.card-frames-container {
      width: 100%;
      height: 100%;

      .card-frame {
        position: absolute;
      }
    }

    &.atk-def {
      top: 1078px;
      min-width: 74px;
      font-family: fontAtkDef;
      font-size: 37px;
      text-align: end;
      text-shadow: 0 0 black;
      width: fit-content;

      &.atk {
        right: 230px;
        left: 512px;
      }

      &.def {
        right: 66px;
        left: 673px;
      }

      &.question-mark {
        font-size: 53px;
        top: 1067px;
      }

      .stat-text {
        margin: 0;
        position: absolute;
        min-width: 74px;
        transform-origin: left;

        &.infinity {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 70px;
          line-height: 37px;
        }
      }
    }

    &.card-set {
      top: 850px;
      right: 83px;
      text-align: end;
      font-family: fontCardSet;
      font-size: 24px;
      text-shadow: 0 0 black;

      &.with-arrows {
        right: 147px;
      }

      &.on-pendulum {
        text-align: start;
        top: 1085px;
        right: -68px;
      }
    }

    &.passcode {
      top: 1129px;
      left: 36px;
      font-family: fontPasscode;
      font-size: 23px;
      text-shadow: 0 0 black;
    }

    &.card-link-arrows {
      justify-content: center;
      align-items: center;
      width: $width;
      height: $height;
    }

    &.card-abilities {
      font-family: fontAbilities;
      display: flex;
      justify-content: start;
      align-items: center;
      top: 888px;
      left: 63px;
      width: 689px;
      height: 37px;
      gap: 3px;

      &.on-pendulum-link {
        top: 920px;
      }

      .abilities-text {
        margin: 0;

        &.abilities {
          margin-top: 3px;
          text-transform: uppercase;
          font-size: 26px;
          transform-origin: left;
          white-space: nowrap;

          .uppercase {
            font-size: 30px;
          }
        }

        &.abilities-bracket {
          font-size: 30px;
        }

        &.with-st-icon {
          padding-right: 4px;
        }
      }

      .rush-st-icon {
        height: 37px;
        width: auto;
        position: relative;
        top: 1px;
        margin-left: -2px;
        margin-right: -1px;
      }
    }

    &.card-description-holder {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      top: 892px;
      left: 65px;
      width: 680px;
      height: 214px;
      font-family: fontDesc;

      &.normal-text {
        font-style: italic;

        p,
        span {
          font-style: italic;
        }
      }

      &.with-abilities {
        top: 924px;
        height: 147px;

        &.on-skill {
          height: 178px;
        }
      }

      &.on-pendulum-link {
        top: 957px;
        height: 115px;
      }

      .description-text {
        margin: 0;
        max-width: 100%;
        text-align: justify;
        text-shadow: 0 0 black;

        font-size: calc(var(--description-text-font-size));
        line-height: calc(var(--description-text-line-height));
        margin-bottom: calc(var(--description-text-margin-bottom));

        .span-text {
          line-height: calc(var(--description-text-line-height));

          &.rush-label {
            text-transform: uppercase;
            font-weight: bold;
          }

          &.with-tcg-at {
            .at-char {
              font-family: fontDescTcgAt;
            }
          }

          .plusminus-char {
            font-family: fontName;
          }

          .hash-char {
            font-family: fontName;
          }

          .small-pi-char {
            font-family: fontDescTcgAt;
          }

          .capital-delta-char {
            font-family: fontName;
          }

          .capital-omega-char {
            font-family: fontDescTcgAt;
          }
        }

        .with-bullet-point {
          $bulletSize: calc(var(--description-text-font-size) * 0.8);
          $margin: calc($bulletSize / 3);

          &::before {
            display: inline-block;
            content: '';
            height: $bulletSize;
            width: $bulletSize;
            border-radius: calc($bulletSize / 2);
            margin-right: $margin;
            margin-bottom: -1px;
            background-color: black;
          }

          &.in-middle {
            &::before {
              margin-left: $margin;
            }
          }
        }
      }
    }

    &.card-pendulum-effect-holder {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 556px;
      height: 124px;
      top: 748px;
      left: 127px;
      font-family: fontDesc;

      &.on-link {
        width: 513px;
        top: 744px;
        left: 148px;
      }

      .pendulum-effect-text {
        margin: 0;
        max-width: 100%;
        text-align: justify;
        text-shadow: 0 0 black;

        font-size: calc(var(--pendulum-effect-text-font-size));
        line-height: calc(var(--pendulum-effect-text-line-height));
        margin-bottom: calc(var(--pendulum-effect-text-margin-bottom));

        .span-text {
          line-height: calc(var(--pendulum-effect-text-line-height));

          &.with-tcg-at {
            .at-char {
              font-family: fontDescTcgAt;
            }
          }

          .plusminus-char {
            font-family: fontName;
          }

          .hash-char {
            font-family: fontName;
          }

          .small-pi-char {
            font-family: fontDescTcgAt;
          }

          .capital-delta-char {
            font-family: fontName;
          }

          .capital-omega-char {
            font-family: fontDescTcgAt;
          }
        }

        .with-bullet-point {
          $bulletSize: calc(var(--pendulum-effect-text-font-size) * 0.8);
          $margin: calc($bulletSize / 3);

          &::before {
            display: inline-block;
            content: '';
            height: $bulletSize;
            width: $bulletSize;
            border-radius: calc($bulletSize / 2);
            margin-right: $margin;
            margin-bottom: -1px;
            background-color: black;
          }

          &.in-middle {
            &::before {
              margin-left: $margin;
            }
          }
        }
      }
    }
  }

  &.rush-card-builder {
    .card-name-container {
      top: 17px;
      left: 38px;
    }

    .card-abilities {
      top: 855px;
      left: 56px;
      width: 590px;
    }

    .atk-def {
      font-family: fontRushAtkDef;
      top: 802px;
      min-width: 122px;
      font-size: 38px;
      text-align: end;
      color: white;
      -webkit-text-fill-color: white;
      -webkit-text-stroke: white 2px;
      transform: scaleY(0.87);
      text-shadow:
        4px 4px 0 black,
        -4px -4px 0 black,
        4px -4px 0 black,
        -4px 4px 0 black;

      &.compressed {
        min-width: 155px;
      }

      &.atk-max {
        top: 744px;
        left: 521px;
      }

      &.atk {
        left: 280px;
      }

      &.def {
        left: 532px;
      }

      &.question-mark {
        font-size: 53px;
        top: 1067px;
      }

      .stat-text {
        min-width: 122px;
        padding: 0 2px;

        &.infinity {
          font-family: Arial, Helvetica, sans-serif;
        }

        &.hidden {
          visibility: hidden;
        }
      }
    }

    .card-description-holder {
      top: 903px;
      left: 56px;
      width: 700px;
      height: 194px;
    }

    .artwork-container {
      height: 733px;
      width: 728px;
      top: 119px;
      left: 42px;
    }

    .card-set {
      top: 1116px;
      right: 79px;
    }
  }
}
