.mn-rich-text-editor {
  display: block;
  width: 100%;
  min-height: calc(22px + #{$themeDefaultSpacing});
  cursor: text;
  position: relative;

  .placeholder {
    @include fg(2);
    pointer-events: none;
  }

  .mn-rich-text {
    cursor: text;
  }
}

.mn-form-field.mn-field-rich-text-editor {
  .input-wrapper {
    height: auto;
    max-height: none;
    position: relative;

    .status-icon {
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      top: auto !important;
    }

    .mn-rich-text-editor {
      min-height: 100%;

      .mn-rich-text {
        min-height: 100%;
      }
    }
  }
}

@mixin themeCalloutBlockquote($lightIconColor: #8a8a8a, $darkIconColor: #b8b8b8) {
  &:not(.code-block) {
    border-left: none !important;

    &:before {
      content: '';
      width: 1em;
      height: 1em;
      font-size: 1.3em;
      margin-right: 0.5em;
      vertical-align: 0;
    }

    &[data-icon='info']:before,
    &:not([data-icon]):before,
    &[data-icon='']:before {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      $color: rgba($lightIconColor, 0.99);
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><g><circle cx='7' cy='7' r='6.5' fill='none' stroke='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/><line x1='7' y1='7' x2='7' y2='10.5' stroke='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/><circle cx='7' cy='4.5' r='0.5' fill='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/></g></svg>");

      .mn-dark-theme & {
        $color: rgba($darkIconColor, 0.99);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><g><circle cx='7' cy='7' r='6.5' fill='none' stroke='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/><line x1='7' y1='7' x2='7' y2='10.5' stroke='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/><circle cx='7' cy='4.5' r='0.5' fill='" + $color + "' stroke-linecap='round' stroke-linejoin='round'/></g></svg>");
      }
    }
  }
}

blockquote.mn-blockquote-callout {
  @include themeCalloutBlockquote();
}
