$decay: calc(#{$themeDefaultSpacing} / 4);
$tabBorderSize: 1px;

@mixin themeTabSet {
  display: flex;

  .mn-layout-spacer {
    @include bg(2);
  }

  .item {
    padding: 0 calc(#{$themeDefaultSpacing});
    cursor: pointer;
    display: flex;
    flex: 1;
    min-height: calc(#{$themeDefaultItemHeight});
    max-height: calc(#{$themeDefaultItemHeight});
    font-size: 15px;
    font-weight: 300;
    position: relative;
    transition: background-color 0.2s;
    gap: calc(#{$themeDefaultSpacing} / 2);

    .mn-indicators {
      margin: 0 calc(#{$themeDefaultSpacing} / 2);
      display: flex;
    }

    .mn-close {
      opacity: 0;
      @include fx(opacity);
      min-height: 15px;
      max-height: 15px;
      @include fg(3);
      &:hover {
        color: color-rgb($primary);
      }
    }

    > .label {
      @include text-overflow;
      font-size: 14px;
      flex: 1;
    }

    @include bg(2);
    z-index: 0;
    border: $tabBorderSize solid color-rgb(nth($theme-light-bg, 3));

    &:hover,
    &.selected {
      @include bg(1);
      z-index: 1;
    }

    &.selected {
      border-color: transparent;
    }

    &:hover {
      .mn-close {
        opacity: 1;
      }
    }

    &.disabled {
      pointer-events: none;
      @include fg(2);

      .icon {
        @include fg(2);
      }
    }
  }

  &.mn-tabbed-pane-tab-position-left,
  &.mn-tabbed-pane-tab-position-right {
    flex-direction: column;

    .item {
      align-items: center;
    }

    .mn-layout-spacer {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &.mn-tabbed-pane-tab-position-left {
    background-image: linear-gradient(
      to right,
      color-rgb(nth($theme-light-bg, 2)) 50%,
      color-rgb(nth($theme-light-bg, 1)) 50%
    );
    .mn-dark-theme & {
      background-image: linear-gradient(
        to right,
        color-rgb(nth($theme-dark-bg, 2)) 50%,
        color-rgb(nth($theme-dark-bg, 1)) 50%
      );
    }
    padding-left: $decay;

    .item {
      text-align: right;
      border-radius: calc(#{$themeDefaultBorderRadius}) 0 0 calc(#{$themeDefaultBorderRadius});
      &.before-selected {
        border-radius: calc(#{$themeDefaultBorderRadius}) 0 calc(#{$themeDefaultBorderRadius} * 1.5)
          calc(#{$themeDefaultBorderRadius});
      }
      &.after-selected {
        border-radius: calc(#{$themeDefaultBorderRadius}) calc(#{$themeDefaultBorderRadius} * 1.5) 0
          calc(#{$themeDefaultBorderRadius});
      }
      &:not(.selected) {
        box-shadow: -1px 0 0 color-rgb(nth($theme-light-bg, 4));
      }
    }
  }

  &.mn-tabbed-pane-tab-position-right {
    background-image: linear-gradient(
      to left,
      color-rgb(nth($theme-light-bg, 2)) 50%,
      color-rgb(nth($theme-light-bg, 1)) 50%
    );
    .mn-dark-theme & {
      background-image: linear-gradient(
        to left,
        color-rgb(nth($theme-dark-bg, 2)) 50%,
        color-rgb(nth($theme-dark-bg, 1)) 50%
      );
    }
    padding-right: $decay;

    .item {
      text-align: left;
      border-radius: 0 calc(#{$themeDefaultBorderRadius}) calc(#{$themeDefaultBorderRadius}) 0;
      &.before-selected {
        border-radius: 0 calc(#{$themeDefaultBorderRadius}) calc(#{$themeDefaultBorderRadius})
          calc(#{$themeDefaultBorderRadius} * 1.5);
      }
      &.after-selected {
        border-radius: calc(#{$themeDefaultBorderRadius} * 1.5) calc(#{$themeDefaultBorderRadius})
          calc(#{$themeDefaultBorderRadius}) 0;
      }
      &:not(.selected) {
        box-shadow: 1px 0 0 color-rgb(nth($theme-light-bg, 4));
      }
    }
  }

  &.mn-tabbed-pane-tab-position-top,
  &.mn-tabbed-pane-tab-position-bottom {
    flex-direction: row;
    align-items: center;

    .item {
      align-items: center;
      text-align: center;
    }

    .mn-layout-spacer {
      min-height: 100%;
      max-height: 100%;
    }
  }

  &.mn-tabbed-pane-tab-position-top {
    background-image: linear-gradient(
      to bottom,
      color-rgb(nth($theme-light-bg, 2)) 50%,
      color-rgb(nth($theme-light-bg, 1)) 50%
    );
    .mn-dark-theme & {
      background-image: linear-gradient(
        to bottom,
        color-rgb(nth($theme-dark-bg, 2)) 50%,
        color-rgb(nth($theme-dark-bg, 1)) 50%
      );
    }
    padding-top: $decay;

    .item {
      border-radius: calc(#{$themeDefaultBorderRadius} * 2) calc(#{$themeDefaultBorderRadius} * 2) 0 0;
      &.before-selected {
        border-radius: calc(#{$themeDefaultBorderRadius} * 2) calc(#{$themeDefaultBorderRadius} * 2)
          calc(#{$themeDefaultBorderRadius} * 2) 0;
      }
      &.after-selected {
        border-radius: calc(#{$themeDefaultBorderRadius} * 2) calc(#{$themeDefaultBorderRadius} * 2) 0
          calc(#{$themeDefaultBorderRadius} * 2);
      }
      &:not(.selected) {
        box-shadow: 0 -1px 0 color-rgb(nth($theme-light-bg, 4));
      }
    }
  }

  &.mn-tabbed-pane-tab-position-bottom {
    background-image: linear-gradient(
      to top,
      color-rgb(nth($theme-light-bg, 2)) 50%,
      color-rgb(nth($theme-light-bg, 1)) 50%
    );
    .mn-dark-theme & {
      background-image: linear-gradient(
        to top,
        color-rgb(nth($theme-dark-bg, 2)) 50%,
        color-rgb(nth($theme-dark-bg, 1)) 50%
      );
    }
    padding-bottom: $decay;

    .item {
      border-radius: 0 0 calc(#{$themeDefaultBorderRadius} * 2) calc(#{$themeDefaultBorderRadius} * 2);
      &.before-selected {
        border-radius: 0 calc(#{$themeDefaultBorderRadius} * 2) calc(#{$themeDefaultBorderRadius} * 2)
          calc(#{$themeDefaultBorderRadius} * 2);
      }
      &.after-selected {
        border-radius: calc(#{$themeDefaultBorderRadius} * 2) 0 calc(#{$themeDefaultBorderRadius} * 2)
          calc(#{$themeDefaultBorderRadius} * 2);
      }
      &:not(.selected) {
        box-shadow: 0 1px 0 color-rgb(nth($theme-light-bg, 4));
      }
    }
  }

  .mn-tabset-add-button-holder {
    text-align: center;
  }
}

.mn-tabbed-pane {
  &.mn-bg-1,
  &.mn-bg-2,
  &.mn-bg-3,
  &.mn-bg-4 {
    background-color: transparent;
  }
}

.mn-tabset {
  @include themeTabSet;
}
