@keyframes colorCycle {
  0% {
    background-color: nth($theme-light-bg, 1);
  }
  50% {
    background-color: #fafa33;
  }
  100% {
    background-color: nth($theme-light-bg, 1);
  }
}

.home-left-pane {
  height: 97%;
  width: 33%;

  .button-tabs {
    min-width: 100%;
    max-width: 100%;

    .button-tab {
      width: 40%;
      border-radius: 32px;

      &.selected {
        font-weight: bold;
      }
    }
  }

  .new-version {
    animation: colorCycle 3s infinite;
    min-width: calc(100% - $themeDefaultSpacing * 2);
    max-width: calc(100% - $themeDefaultSpacing * 2);
    border-radius: $themeDefaultBorderRadius * 2;
  }
}
