
.mn-bg-1 { @include bg(1); }
.mn-bg-2 { @include bg(2); }
.mn-bg-3 { @include bg(3); }
.mn-bg-4 { @include bg(4); }
.mn-bg-primary { background-color: $primary }
.mn-bg-secondary { background-color: $secondary }
.mn-bg-positive { background-color: $positive }
.mn-bg-calm { background-color: $calm }
.mn-bg-balanced { background-color: $balanced }
.mn-bg-energized { background-color: $energized }
.mn-bg-assertive { background-color: $assertive }
.mn-bg-royal { background-color: $royal }

.mn-zindex-content { z-index: $z-index-content; }
.mn-zindex-view { z-index: $z-index-view; }
.mn-zindex-notifications { z-index: $z-index-notifications; }
.mn-zindex-view-below { z-index: $z-index-view-below; }
.mn-zindex-view-above { z-index: $z-index-view-above; }
.mn-zindex-drawer { z-index: $z-index-drawer; }
.mn-zindex-overlay { z-index: $z-index-overlay; }
.mn-zindex-popup { z-index: $z-index-popup; }
.mn-zindex-popover { z-index: $z-index-popover; }
.mn-zindex-toaster { z-index: $z-index-toaster; }
.mn-zindex-overall { z-index: $z-index-overall; }

.mn-containable {
  @include mnLayountContainable();
}
