.mn-popup.choice.app-update-choice-popup {
  .mn-popup-content-container {
    .mn-typography.mn-content-type-html {
      display: block;

      ul {
        margin-bottom: 0;
      }

      ul,
      li {
        margin-top: 0;
      }
    }
  }
}
