.mn-container.vertical-stack {
  flex-direction: column; }

.mn-container.horizontal-stack {
  flex-direction: row; }

.mn-container.mn-gutter {
  gap: 16px; }

.mn-container.mn-margin {
  margin: 16px; }
