.mn-split-pane {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  .mn-split-pane-child {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    &.mn-split-pane-child-slave {
      flex: 1 1 auto;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  > .mn-split-handler {
    position: absolute;
    background-color: rgb(3, 72, 175);
    opacity: 0;

    &:hover {
      animation: fadeIn 0.01s 0.5s forwards;
    }
  }

  &.mn-split-pane-resizing {
    cursor: col-resize;

    > .mn-split-pane-splitter {
      background-color: black(0.2);
    }
  }

  &.mn-split-pane-vertical {
    flex-direction: column;

    > .mn-split-pane-splitter {
      cursor: row-resize;
    }

    &.mn-split-pane-resizing {
      cursor: row-resize;
    }
  }
}
