.mn-textarea-input-container {
  position: relative;
  display: flex;
  flex: 1;

  .mn-textarea-input {
    @include mnScrollBar();
    @include fg(1);
    background-color: transparent;
    line-height: 20px;
    padding: calc($themeDefaultSpacing / 2);
    resize: none;
    flex: 1;
    min-width: 100%;
    max-width: 100%;

    border-width: 1px;
    border-style: solid;
    @include border-color(4);
    border-radius: $themeDefaultBorderRadius;

    &::placeholder {
      @include fg(2);
    }

    &.mn-textarea-input-hidden {
      visibility: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

.mn-form-field.mn-field-textarea {
  &.multilines {
    height: auto;
  }

  .input-wrapper {
    height: auto;
    max-height: none;

    .mn-textarea-input-container {
      min-width: 100%;
    }
  }
}
