.cards-library {
  background-color: color-hsl($bg1);
  width: 100%;

  .mn-table {
    .mn-typography {
      user-select: none;
    }

    tbody {
      tr {
        &.selected {
          background-color: color-hsla($positive, 0.5);
        }

        &.current {
          background-color: color-hsla($info, 0.5);
        }
      }
    }
  }

  .mn-icon-card-editor-codexygo-app-icon-container-button {
    padding: 2px;
    border: 1px solid color-hsl($primary);
    border-radius: 50px;
    background: linear-gradient(135deg, hsl(208deg 96% 10%) 0%, hsl(208deg 96% 18%) 50%, hsl(208deg 96% 32%) 100%);
  }
}
