.cards-library {
  background-color: color-hsl($bg1);
  width: 100%;

  .mn-table {
    tbody {
      tr {
        &.selected {
          background-color: color-hsla($positive, 0.5);
        }

        &.current {
          background-color: color-hsla($info, 0.5);
        }
      }
    }
  }
}
