@mixin themeScreenPopup($size) {
  --popup-active-animation-name: var(--#{$size}-popup-active-animation-name);
  --popup-active-animation-duration: var(--#{$size}-popup-active-animation-duration);
  --popup-hidding-animation-name: var(--#{$size}-popup-hidding-animation-name);
  --popup-hidding-animation-duration: var(--#{$size}-popup-hidding-animation-duration);
}

.mn-screen-small {
  @include themeScreenPopup('small');
}

.mn-screen-medium {
  @include themeScreenPopup('medium');
}

.mn-screen-large {
  @include themeScreenPopup('large');
}

.mn-screen-xlarge {
  @include themeScreenPopup('xlarge');
}

.mn-screen-xxlarge {
  @include themeScreenPopup('xxlarge');
}

.mn-screen-xxxlarge {
  @include themeScreenPopup('xxxlarge');
}

$popup-active-animation-name: var(--popup-active-animation-name);
$popup-active-animation-duration: var(--popup-active-animation-duration);
$popup-hidding-animation-name: var(--popup-hidding-animation-name);
$popup-hidding-animation-duration: var(--popup-hidding-animation-duration);

@keyframes popupOverlayFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: hsl(0deg 0% 0% / 15%);
  }
}

@mixin themePopups() {
  @include fill-all();
  pointer-events: none;
  transition: background-color 0.1s ease;
  z-index: $z-index-popup;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    transition: background-color 0.4s ease;
    background-color: hsl(0deg 0% 0% / 30%);
    pointer-events: auto;
  }

  .mn-popup-overlay {
    @include fill-all();
    animation: popupOverlayFadeIn 0.3s ease forwards;
    z-index: $z-index-popup;
    pointer-events: auto;
  }

  .mn-popup {
    position: absolute;
    border-radius: calc(#{$defaultBorderRadius});
    @include shadow(1);
    backface-visibility: hidden;
    visibility: hidden;
    transform: translateZ(0);

    &.active {
      display: flex;
      visibility: visible;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-name: $popup-active-animation-name;
      animation-duration: $popup-active-animation-duration;
    }

    &.hidding {
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-name: $popup-hidding-animation-name;
      animation-duration: $popup-hidding-animation-duration;
    }

    &.image {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin: 0 auto;

      .mn-popup-header {
        .mn-icon-container-button {
          .mn-icon {
            color: color-hsl($bg1);
            fill: color-hsl($bg1);
          }
        }
      }

      .mn-popup-content-container {
        display: flex;
        flex-direction: column;

        .mn-image {
          margin: 0 auto;
        }

        .mn-typography {
          color: color-hsl($bg1);
        }
      }
    }

    &.sortable {
      .mn-sortable {
        .mn-sortable-item:nth-child(even) {
          background-color: color-hsl($bg4);
        }
      }
    }

    .mn-popup-header {
      border-bottom: 1px solid color-hsl($fg4);
      border-radius: calc(#{$defaultBorderRadius}) calc(#{$defaultBorderRadius}) 0 0;
    }

    .mn-popup-footer {
      border-top: 1px solid color-hsl($fg4);
      border-radius: 0 0 calc(#{$defaultBorderRadius}) calc(#{$defaultBorderRadius});
    }
  }
}

.mn-popups {
  @include themePopups();
}
