.artwork-edit-dialog {
  position: relative;
  width: 100%;
  height: 100%;

  .artwork-img {
    width: 100%;
    height: 100%;
  }

  .resize-rectangle {
    position: absolute;
    top: 50px; /* ajustez selon votre rectangle */
    left: 50px; /* ajustez selon votre rectangle */
    width: 100px; /* ajustez selon votre rectangle */
    height: 100px; /* ajustez selon votre rectangle */
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.3);
    cursor: move;
  }
}
