.mn-rich-text-editor {
  display: block;
  width: 100%;
  min-height: calc(22px + #{$themeDefaultSpacing});
  cursor: text;
  position: relative;

  .placeholder {
    @include fg(2);
    pointer-events: none;
  }

  .mn-rich-text {
    cursor: text;
  }
}

.mn-form-field.mn-field-rich-text-editor {
  .input-wrapper {
    height: auto;
    max-height: none;
    position: relative;

    .status-icon {
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      top: auto !important;
    }

    .mn-rich-text-editor {
      min-height: 100%;

      .mn-rich-text {
        min-height: 100%;
      }
    }
  }
}

blockquote.mn-blockquote-callout {
  &:not(.code-block) {
    border-left: none !important;

    &:before {
      display: none;
    }
  }

  display: flex;
  flex-direction: row;
  gap: $themeDefaultSpacing;

  > .mn-blockquote-callout-icon {
    > svg {
      $size: 20px;
      width: $size !important;
      min-width: $size !important;
      max-width: $size !important;
      height: $size !important;
      min-height: $size !important;
      max-height: $size !important;
    }
  }
}
