.mn-color-picker {
  .mn-color-swatch,
  .mn-icon {
    $size: 20px;
    height: $size;
    min-height: $size;
    max-height: $size;
    width: $size;
    min-width: $size;
    max-width: $size;
    border-radius: $size;
    margin: calc($themeDefaultSpacing / 4);
  }
}

.mn-color-swatch {
  border: 1px solid rgba(#000000, 0.2);
  .mn-dark-theme & {
    border-color: rgba(#ffffff, 0.2);
  }
}
