@mixin themeBreadcrumb() {
  color: color-hsl($fg2);
  max-width: 100%;

  .bread,
  .crumb {
    line-height: calc(#{$defaultItemHeight});
    min-height: calc(#{$defaultItemHeight});
    max-height: calc(#{$defaultItemHeight});
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: color-hsl($fg1);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    p {
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .crumb {
    font-weight: 400;
    border-radius: calc(#{$defaultBorderRadius});
    @include fx(color);

    // Override the anchor-specific color
    &.mn-typography-anchor {
      color: color-hsl($fg1) !important;
      text-decoration: none !important;
    }

    &:hover {
      color: color-hsl($primary) !important;
    }
  }

  .separator {
    line-height: calc(#{$defaultItemHeight});
    min-height: calc(#{$defaultItemHeight});
    max-height: calc(#{$defaultItemHeight});
    color: color-hsl($fg2);
  }
}

.mn-breadcrumb {
  @include themeBreadcrumb();
}

@mixin themeHeader() {
  $progressHeight: 5px;
  background-color: color-hsl($bg1);
  border-bottom: 1px solid;
  border-color: color-hsl($fg4);
  @include ios-top('padding-top');

  .mn-progress {
    min-height: $progressHeight;
    max-height: $progressHeight;
    background-color: transparent;

    .progress {
      opacity: 0;
      @include fx(opacity);
      .bar {
        background-color: color-hsla($bg1, 0.7);
      }
    }

    &.enabled {
      .progress {
        opacity: 1;
      }
    }

    &:not(.enabled) {
      .progress {
        background-color: transparent;
      }
    }
  }

  .title-bar {
    z-index: $z-index-title-bar;
    padding: 0 calc(#{$smallSpacing});
    display: flex;
    gap: calc(#{$smallSpacing});
    flex-direction: row;
    align-items: center;
    color: color-hsl($fg1);

    .center-part {
      text-align: left;
      @include text-overflow();
    }
  }

  .mn-header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .mn-sub-header {
    .mn-fab {
      position: absolute;
      bottom: -32px;
      right: calc(#{$defaultSpacing});
      z-index: $z-index-view-above;
    }
  }

  .mn-header-separator {
    border-left: 1px solid;
    border-color: color-hsl($fg3);
    width: 10px;
    height: 100%;
    margin-left: 8px;
  }
}

.mn-header {
  @include themeHeader();
}

@mixin themeFooter() {
  padding-top: 0;
}

.mn-footer {
  @include themeFooter();
}
