@mixin dateTimeHighlight() {
  &.mn-disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;

    &.selected {
      .mn-typography {
        background-color: rgba($primary, 0.2);
      }
    }
  }

  &.selected {
    .mn-typography {
      background-color: rgba($primary, 0.8);
    }

    &:hover {
      .mn-typography {
        background-color: $primary;
      }
    }
  }

  &:hover {
    .mn-typography {
      background-color: rgba($primary, 0.2);
    }
  }
}

// Date --------------------------------------------------------------------------------------------

.mn-date-chooser {
  .calendar {
    min-height: $themeDefaultItemHeight * 7; // Max 6 different weeks in a month + the days row

    .weekdays,
    .week {
      .weekday,
      .day {
        height: $themeDefaultItemHeight;
        min-height: $themeDefaultItemHeight;
        max-height: $themeDefaultItemHeight;
        line-height: $themeDefaultItemHeight;

        .mn-typography {
          justify-content: center;
          border-radius: 50%;
          width: $themeDefaultItemHeight;
          min-width: $themeDefaultItemHeight;
          max-width: $themeDefaultItemHeight;
          height: $themeDefaultItemHeight;
          min-height: $themeDefaultItemHeight;
          max-height: $themeDefaultItemHeight;
          line-height: $themeDefaultItemHeight;
        }
      }
    }

    .week {
      .day {
        @include dateTimeHighlight();
      }
    }
  }

  .years {
    .year {
      @include dateTimeHighlight();

      .mn-typography {
        padding: calc($themeDefaultSpacing / 4) calc($themeDefaultSpacing / 2);
        border-radius: calc($themeDefaultBorderRadius * 4);
      }
    }
  }
}

.mn-date-picker {
  padding: calc($themeDefaultSpacing/4) calc($themeDefaultSpacing/2);
  border: $fieldBorderSize solid;
  border-color: #c3c3c3;
  border-radius: calc($themeDefaultBorderRadius / 2);
  @include bg(1);

  &:not(.mn-fill) {
    width: fit-content;
  }

  &.mn-focus {
    box-shadow: 0 0 10px rgba($primary, 0.26) inset;
    border-color: $primary;
  }

  .mn-date-input {
    &.mn-disabled {
      pointer-events: none;
    }

    input {
      cursor: text;
      border: none;
      width: 100%;
      background-color: transparent;
      .mn-dark-theme & {
        color: white;
      }
    }
  }
}

// Time --------------------------------------------------------------------------------------------

.mn-time-chooser {
  .hours,
  .minutes {
    padding: 0 calc($themeDefaultSpacing / 2);
    &.minutes {
      border-left: 1px solid;
      border-color: rgba(nth($theme-light-fg, 1), 0.3);
      .mn-dark-theme & {
        border-color: rgba(nth($theme-dark-fg, 1), 0.3);
      }
    }

    &.scroller {
      $height: 180px;
      height: $height;
      min-height: $height;
      max-height: $height;

      .hours-container,
      .minutes-container {
        > .mn-container-inside {
          $gap: calc($themeDefaultSpacing / 4);
          gap: $gap;

          &:after {
            content: ' ';
            $afterHeight: calc($height - $themeDefaultItemHeight - $gap);
            min-height: $afterHeight;
          }
        }
      }
    }

    .hour,
    .minute {
      @include dateTimeHighlight();
      height: $themeDefaultItemHeight;
      min-height: $themeDefaultItemHeight;
      max-height: $themeDefaultItemHeight;
      line-height: $themeDefaultItemHeight;

      .mn-typography {
        justify-content: center;
        border-radius: calc($themeDefaultBorderRadius / 2);
        width: $themeDefaultItemHeight;
        min-width: $themeDefaultItemHeight;
        max-width: $themeDefaultItemHeight;
        height: $themeDefaultItemHeight;
        min-height: $themeDefaultItemHeight;
        max-height: $themeDefaultItemHeight;
        line-height: $themeDefaultItemHeight;
      }
    }
  }
}

.mn-time-picker {
  padding: calc($themeDefaultSpacing/4) calc($themeDefaultSpacing/2);
  border: $fieldBorderSize solid;
  border-color: #c3c3c3;
  border-radius: calc($themeDefaultBorderRadius / 2);
  @include bg(1);

  &:not(.mn-fill) {
    width: fit-content;
  }

  &.mn-focus {
    box-shadow: 0 0 10px rgba($primary, 0.26) inset;
    border-color: $primary;
  }

  .mn-time-input {
    &.mn-disabled {
      pointer-events: none;
    }

    input {
      cursor: text;
      border: none;
      width: 100%;
      background-color: transparent;
      .mn-dark-theme & {
        color: white;
      }
    }
  }
}

// Date Time --------------------------------------------------------------------------------------------

.mn-popup.date-time-chooser {
  .tab {
    padding: calc($themeDefaultSpacing / 2) 0;
    border-bottom: 1px solid rgba(nth($theme-light-fg, 1), 0.3);
    .mn-dark-theme & {
      border-color: rgba(nth($theme-dark-fg, 1), 0.3);
    }

    &.selected {
      border-bottom: 2px solid $primary;
    }
  }
}

.mn-date-time-chooser {
  .mn-time-chooser {
    .hours,
    .minutes {
      &.scroller {
        $height: 255px;
        height: $height;
        min-height: $height;
        max-height: $height;

        .hours-container,
        .minutes-container {
          > .mn-container-inside {
            $gap: calc($themeDefaultSpacing / 4);
            gap: $gap;

            &:after {
              content: ' ';
              $afterHeight: calc($height - $themeDefaultItemHeight - $gap);
              min-height: $afterHeight;
            }
          }
        }

        &.hours {
          border-left: 1px solid;
          border-color: rgba(nth($theme-light-fg, 1), 0.3);
          .mn-dark-theme & {
            border-color: rgba(nth($theme-dark-fg, 1), 0.3);
          }
        }
      }
    }
  }
}

.mn-date-time-picker {
  padding: calc($themeDefaultSpacing/4) calc($themeDefaultSpacing/2);
  border: $fieldBorderSize solid;
  border-color: #c3c3c3;
  border-radius: calc($themeDefaultBorderRadius / 2);
  @include bg(1);
  height: fit-content;

  &:not(.mn-fill) {
    width: fit-content;
  }

  &.mn-focus {
    box-shadow: 0 0 10px rgba($primary, 0.26) inset;
    border-color: $primary;
  }

  .mn-date-time-input {
    &.mn-disabled {
      pointer-events: none;
    }

    input {
      cursor: text;
      border: none;
      width: 100%;
      background-color: transparent;
      .mn-dark-theme & {
        color: white;
      }
    }
  }
}

// Week --------------------------------------------------------------------------------------------

.mn-week-chooser {
  .calendar {
    min-height: $themeDefaultItemHeight * 7; // Max 6 different weeks in a month + the days row

    .weekdays,
    .week {
      border-radius: $themeDefaultBorderRadius;

      .week-number,
      .weekday,
      .day {
        height: $themeDefaultItemHeight;
        min-height: $themeDefaultItemHeight;
        max-height: $themeDefaultItemHeight;
        line-height: $themeDefaultItemHeight;

        .mn-typography {
          justify-content: center;
          border-radius: 50%;
          width: $themeDefaultItemHeight;
          min-width: $themeDefaultItemHeight;
          max-width: $themeDefaultItemHeight;
          height: $themeDefaultItemHeight;
          min-height: $themeDefaultItemHeight;
          max-height: $themeDefaultItemHeight;
          line-height: $themeDefaultItemHeight;
        }
      }
    }

    .day {
      &.mn-disabled {
        .mn-typography {
          filter: grayscale(100%);
          opacity: 0.5;
        }
      }
    }

    .week {
      &.selected {
        background-color: rgba($primary, 0.8);

        &:hover {
          background-color: $primary;
        }
      }

      &:hover {
        background-color: rgba($primary, 0.2);
      }
    }
  }

  .years {
    .year {
      @include dateTimeHighlight();

      .mn-typography {
        padding: calc($themeDefaultSpacing / 4) calc($themeDefaultSpacing / 2);
        border-radius: $themeDefaultBorderRadius * 4;
      }
    }
  }
}

.mn-week-input {
  > .mn-container-inside {
    gap: calc($themeDefaultSpacing / 4);
  }
}

.mn-week-picker {
  padding: calc($themeDefaultSpacing/4) calc($themeDefaultSpacing/2);
  border: $fieldBorderSize solid;
  border-color: #c3c3c3;
  border-radius: calc($themeDefaultBorderRadius / 2);
  @include bg(1);
  height: fit-content;

  &:not(.mn-fill) {
    width: fit-content;
  }

  &.mn-focus {
    box-shadow: 0 0 10px rgba($primary, 0.26) inset;
    border-color: $primary;
  }

  .mn-week-input {
    &.mn-disabled {
      pointer-events: none;
    }

    input {
      cursor: text;
      border: none;
      width: 100%;
      background-color: transparent;
      .mn-dark-theme & {
        color: white;
      }
    }
  }
}

// Date Range --------------------------------------------------------------------------------------------

.mn-date-range-picker {
  height: fit-content;

  &:not(.mn-fill) {
    width: fit-content;
  }

  .separator {
    fill: black(1);
    .mn-dark-theme & {
      fill: white(1);
    }
  }
}

// Date Time Range --------------------------------------------------------------------------------------------

.mn-date-time-range-picker {
  height: fit-content;

  &:not(.mn-fill) {
    width: fit-content;
  }

  .separator {
    fill: black(1);
    .mn-dark-theme & {
      fill: white(1);
    }
  }
}

// Week Range --------------------------------------------------------------------------------------------

.mn-week-range-picker {
  height: fit-content;

  &:not(.mn-fill) {
    width: fit-content;
  }

  .separator {
    fill: black(1);
    .mn-dark-theme & {
      fill: white(1);
    }
  }
}

// Fields --------------------------------------------------------------------------------------------

.mn-form-field.mn-field-date-picker,
.mn-form-field.mn-field-time-picker,
.mn-form-field.mn-field-week-picker,
.mn-form-field.mn-field-date-time-picker,
.mn-form-field.mn-field-date-range-picker,
.mn-form-field.mn-field-date-time-range-picker,
.mn-form-field.mn-field-week-range-picker {
  .input-wrapper {
    min-height: auto;
    max-height: inherit;
    height: auto;
    border: none !important;
    box-shadow: none;
    padding: 0;

    > .mn-container-inside {
      align-items: center;
    }

    background-color: transparent;
    .mn-dark-theme & {
      background-color: transparent;
    }

    .mn-date-picker,
    .mn-time-picker,
    .mn-date-time-picker,
    .mn-week-picker {
      input {
        margin: 0;
      }
    }
  }

  .mn-dark-theme & {
    &.mn-disabled {
      .input-wrapper {
        background-color: transparent;
      }
    }
  }
}
