@font-face {
  font-family: fontAbilities;
  src: url(../resources/fonts/itcStoneSerifBold.ttf);
}

.card-editor {
  $backgroundColor: aliceblue;
  $labelColor: black;
  height: 100%;
  width: 30%;
  padding-left: 10px;
  align-items: flex-start;
  font-size: 17px;
  background-color: $backgroundColor;

  .app-version {
    color: $labelColor;
    font-size: 11px;
    align-self: end;
    margin-right: 8px;
  }

  .card-editor-section {
    width: 100%;
    align-items: center;
    gap: 5px;
    padding-bottom: 8px;

    &.link-arrow-section {
      width: 95%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      align-items: start;

      .link-arrow-label {
        padding-bottom: 5px;
        text-align: center;
      }

      .link-arrow-lines {
        border-radius: 5px;
        background: radial-gradient(circle, rgba(#1D68C0, 0.95) 0%, rgba(#1D68C0, 0.85) 30%, rgba(#1D68C0, 0.6) 80%, rgba(#1D68C0, 0.5) 100%);

        .link-arrow-line {
          justify-content: center;
          gap: 8px;

          .link-arrow-btn {
            height: 50px;
            width: 60px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            box-shadow: none;
            transition: none;
            padding: 0;

            &.hidden {
              cursor: auto;
            }

            img {
              height: 100%;
              width: 100%;

              &.top-left-img {
                transform: rotate(-45deg);
              }

              &.top-right-img {
                transform: rotate(45deg);
              }

              &.left-img {
                transform: rotate(-90deg);
              }

              &.right-img {
                transform: rotate(90deg);
              }

              &.bottom-left-img {
                transform: rotate(225deg);
              }

              &.bottom-img {
                transform: rotate(180deg);
              }

              &.bottom-right-img {
                transform: rotate(-225deg);
              }
            }
          }
        }
      }
    }

    .card-pendulum-ratio {
      width: 95%;
      justify-content: flex-end;
    }

    .card-editor-full-width-section {
      width: 95%;
      padding: 1%;

      &.horizontal-stack {
        gap: 8px;
      }
    }

    .reset-current-card-btn {
      color: white;
      font-size: 15px;
      margin: 0;
      cursor: pointer;
      height: 17px;
      background-color: rgba(red, 0.3);
      padding: 4px 8px;
      border-radius: 4px;
      align-self: end;
    }

    .with-label-separator {
      border-bottom: 1px solid $labelColor;
      margin-bottom: 7px;
    }

    .textarea-input {
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      resize: none;
      height: 150px;
    }

    .editor-label {
      color: $labelColor;
      margin: 5px 0;
      font-size: 13px;
      font-family: fontAbilities;
      text-transform: uppercase;
      flex: 1;

      &.label-with-separator {
        padding-bottom: 5px;
      }
    }

    .editor-sub-label {
      align-self: center;
      color: $labelColor;
      margin: 0 0 0 4px;
      font-size: 11px;
      font-variant: petite-caps;
    }

    .card-editor-vertical-section {
      flex: 1;

      &.card-input-container {
        .card-input {
          height: 19px;

          &.artwork-input {
            flex: 1;
          }

          &.level-input, &.atk-input, &.def-input {
            width: 95%;
          }
        }

        .artwork-btn {
          display: flex;
          align-items: center;
          width: fit-content;
          padding: 8px;
          margin-left: 2%;
          border: 1px outset lightgray;
          border-radius: 4px;
          cursor: pointer;
          width: auto;
          height: 25px;
          width: 33px;
          background-color: lightgrey;
        }

        .artwork-hidden-input {
          display: none;
        }
      }

      .mn-dropdown {
        justify-content: center;
        flex: 1;

        select {
          height: 25px;
        }
      }

      .card-items {
        max-width: 100%;
        flex-wrap: wrap;

        .item-container {
          margin: 4px 10px 4px 0;
          cursor: pointer;
        }
      }

      .card-attributes-icons {
        .card-attribute-container {
          height: 30px;

          .card-attribute {
            opacity: 50%;

            &.selected {
              opacity: 100%;
            }
          }
        }
      }

      .card-frames-icons {
        .card-frame-container {
          height: 50px;
          background-color: white;

          .card-frame {
            opacity: 50%;
          }

          &.selected {
            .card-frame {
              opacity: 100%;
            }
          }

          @for $i from 1 through 20 {
            &.selected-#{$i} {
              &::after {
                $size: 16px;
                $fontSize: 12px;
                content: "#{$i}";
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $size;
                height: $size;
                border-radius: 50%;
                text-align: center;
                line-height: $fontSize;
                font-size: $fontSize;
                background-color: adjust-hue(hsl(0, 70%, 50%), 20 * $i);
                color: #fff;
              }
            }
          }
        }
      }

      .card-st-icons-icons {
        .card-st-icon-container {
          height: 30px;

          .card-st-icon {
            height: 30px;
            width: 30px;
            opacity: 50%;

            &.selected {
              opacity: 100%;
            }
          }
        }
      }

      .ability-btn {
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 4px;
        cursor: pointer;
        background-color: transparent;

        &.ability-add-btn {
          border: 1px outset #318ce7;
          margin: 4px;
          padding: 4px;

          &:hover {
            background-color: rgba(green, 0.6);
            border: 1px outset transparent;
          }
        }

        &.lock-opened {
          background-color: rgba(222, 25, 60, 0.6);
        }

        &.lock-closed {
          background-color: rgba(0, 100, 170, 0.6);
        }

        img {
          height: 15px;
          width: 15px;
        }
      }

      .ability-edit-buttons {
        position: absolute;
        right: 5px;
        gap: 5px;

        .ability-edit-btn {
          padding: 0;

          &.delete-btn {
            &:hover {
              background-color: rgba(red, 0.6);
            }
          }

          &.up-btn, &.down-btn {
            &:hover {
              background-color: rgba(185, 200, 205, 0.6);
            }
          }

          img {
            padding: 3px;
          }
        }
      }

      .abilities-list {
        margin-top: 5px;
        border: 1px solid #318ce7;
        background-color: white;
        font-size: 13px;
        color: black;
        min-height: 84px;

        .ability-input {
          border: none;
          padding: 3px;
          height: 15px;
          width: calc(100% - 85px);

          .inplace-edit-div {
            height: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: text;
          }

          .inplace-edit-input {
            padding: 0;
            margin: -2px;

            &:focus-visible {
              outline: none;
            }
          }
        }
      }
    }

    .pendulum-details {
      width: 95%;
      margin-bottom: 8px;

      &.opened {
        border: 1px solid black;
        border-radius: 5px;
        top: 14px;

        .card-pendulum {
          position: absolute;
          top: -14px;
          background: $backgroundColor;
        }

        .pendulum-section {
          .scales-section {
            top: 5px;
            align-items: center;
          }
        }
      }

      .card-pendulum {
        left: 14px;
        top: 1px;
      }
    }

    &.misc-section {
      .generate-passcode-btn {
        color: white;
        font-size: 15px;
        margin: 0;
        cursor: pointer;
        height: 17px;
        background-color: rgba(blue, 0.3);
        padding: 4px 8px;
        border-radius: 4px;
        align-self: end;
      }

      .card-copyright {
        align-self: end;
        justify-content: center;
      }
    }

    .card-editor-sub-section {
      width: 95%;
      padding: 2%;

      .card-items {
        max-width: 100%;
        flex-wrap: wrap;

        .item-container {
          margin: 4px 10px 4px 0;
          cursor: pointer;
        }
      }

      .mn-dropdown {
        justify-content: center;
        flex: 1;

        select {
          height: 25px;
        }
      }

      &.scales-section {
        .card-scale {
          width: 40%;
          justify-content: center;
          align-items: center;

          .scale-label {
            width: 75%;
          }

          .scale-input {
            width: 25%;
          }

          input[readOnly] {
            color: #999;
            background-color: #f7f7f7;
            border-color: #ddd;
            cursor: not-allowed;
          }
        }

        .pend-lock-container {
          align-items: center;

          .pend-lock {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 8px;
            margin: 0 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            img {
              height: 16px;
              width: 16px;
            }

            &.lock-opened {
              background-color: rgba(222, 25, 60, 0.6);
            }

            &.lock-closed {
              background-color: rgba(0, 100, 170, 0.6);
            }

            &:hover {
              background-color: rgba(185, 200, 205, 0.6);
            }
          }
        }
      }

      &.abilities-section {
        gap: 6px;

        .abilities-edit-buttons {
          gap: 10px;

          .abilities-edit-btn {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px;
            border: 1px outset #318ce7;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;

            img {
              height: 16px;
              width: 16px;
            }

            &.lock-opened {
              background-color: rgba(222, 25, 60, 0.6);
            }

            &.lock-closed {
              background-color: rgba(0, 100, 170, 0.6);
            }

            &:hover {
              background-color: rgba(185, 200, 205, 0.6);
            }
          }
        }

        .abilities-list {
          border: 1px solid #318ce7;
          background-color: white;
          font-size: 13px;
          color: black;
          min-height: 63px;

          .ability-input {
            border: none;
            padding: 3px;
            height: 15px;

            &.selected {
              background-color: #ADCAF9;
            }

            .inplace-edit-div {
              height: 15px;
            }

            .inplace-edit-input {
              padding: 0;
              margin: -2px;

              &:focus-visible {
                outline: none;
              }
            }
          }
        }
      }

      &.card-input-container {
        &.card-artwork {
          align-items: center;
        }

        .card-input {
          width: 85%;

          &.artwork-input {
            width: 75%;
            height: 19px;
          }
        }

        .artwork-btn {
          display: flex;
          align-items: center;
          width: fit-content;
          padding: 8px;
          margin-left: 2%;
          border: 1px outset lightgray;
          border-radius: 4px;
          cursor: pointer;
          width: auto;
          height: 25px;
          width: 33px;
          background-color: lightgrey;
        }

        .artwork-hidden-input {
          display: none;
        }
      }

      &.card-textarea {
        .textarea-input {
          font-family: Arial, Helvetica, sans-serif;
          text-align: justify;
          resize: none;
          height: 115px;
        }
      }
    }
  }
}
