.card-editor {
  height: 100%;
  width: 30%;
  margin-left: 10px;
  align-items: flex-start;
  font-size: 17px;

  .app-version {
    color: black;
    font-size: 11px;
    align-self: end;
    margin-right: 8px;
  }

  .editor-label {
    color: black;
    margin: 5px 0;
    font-size: 13px;

    &.label-with-separator {
      border-bottom: 1px solid darkgray;
      padding-bottom: 5px;
    }
  }

  .horizontal-stack {
    p {
      min-width: 15%;
      padding-right: 10px;
    }
  }

  .card-editor-section {
    width: 95%;
    align-items: center;
    margin: 10px 0 5px 10px;
    border: 1px solid #0052a3;
    border-radius: 0 0 8px 8px;
    padding-bottom: 4px;

/*     &.misc-section {
      margin-bottom: 40px;
    } */

    .section-header {
      width: 100%;
      background: linear-gradient(
        200.96deg,
        white -29.09%,
        #70afee 51.77%,
        #318ce7 129.35%
      );
      border-bottom: 1px solid #0052a3;
      margin-bottom: 3px;

      .section-header-title {
        margin: 8px;
        color: white;
        font-size: 15px;
      }
    }

    &.link-arrow-section {
      .link-arrow-line {
        width: 95%;
        justify-content: center;
        gap: 8px;

        .link-arrow-btn {
          height: 50px;
          width: 20%;
          display: flex;
          align-items: center;
          cursor: pointer;
          background-color: transparent;
          box-shadow: none;
          transition: none;
          padding: 0;

          &.hidden {
            cursor: auto;
          }

          img {
            height: 100%;
            width: 100%;

            &.top-left-img {
              transform: rotate(-45deg);
            }

            &.top-right-img {
              transform: rotate(45deg);
            }

            &.left-img {
              transform: rotate(-90deg);
            }

            &.right-img {
              transform: rotate(90deg);
            }

            &.bottom-left-img {
              transform: rotate(225deg);
            }

            &.bottom-img {
              transform: rotate(180deg);
            }

            &.bottom-right-img {
              transform: rotate(-225deg);
            }
          }
        }
      }
    }

    .card-pendulum-ratio {
      width: 95%;
      padding: 2% 2% 0 2%;
    }

    .card-editor-sub-section {
      width: 95%;
      padding: 2%;

      .card-items {
        max-width: 100%;
        flex-wrap: wrap;

        .item-container {
          margin: 4px 10px 4px 0;
          cursor: pointer;
        }
      }

      .mn-dropdown {
        justify-content: center;
        flex: 1;

        select {
          height: 25px;
        }
      }

      &.atk-def-section {
        .card-stats {
          width: 48%;
          justify-content: center;
          align-items: center;

          .editor-label {
            width: 20%;
          }

          .card-input {
            width: 80%;
          }
        }
      }

      &.copyright-section {
        .card-copyright {
          width: 50%;
          justify-content: center;
          align-items: center;

          .copyright-input {
            width: fit-content;
          }

          .copyright-label {
            flex: 1;
          }
        }

        .card-copyright-old {
          width: 50%;
          justify-content: center;
          align-items: center;

          .copyright-old-input {
            width: fit-content;
          }

          .copyright-old-label {
            flex: 1;
          }
        }
      }

      &.level-and-pend-section {
        .card-level {
          width: 65%;
          justify-content: center;
          align-items: center;

          .level-label {
            width: fit-content;
          }

          .level-input {
            flex: 1;
          }
        }

        .card-pendulum {
          width: 30%;
          margin-left: 5%;
          justify-content: center;
          align-items: center;

          .pendulum-input {
            width: fit-content;
            margin-right: 5px;
          }

          .pendulum-label {
            flex: 1;
          }
        }
      }

      &.scales-section {
        .card-scale {
          width: 40%;
          justify-content: center;
          align-items: center;

          .scale-label {
            width: 75%;
          }

          .scale-input {
            width: 25%;
          }

          input[readOnly] {
            color: #999;
            background-color: #f7f7f7;
            border-color: #ddd;
            cursor: not-allowed;
          }
        }

        .pend-lock-container {
          align-items: center;

          .pend-lock {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 8px;
            margin: 0 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            img {
              height: 16px;
              width: 16px;
            }

            &.lock-opened {
              background-color: rgba(222, 25, 60, 0.6);
            }

            &.lock-closed {
              background-color: rgba(0, 100, 170, 0.6);
            }

            &:hover {
              background-color: rgba(185, 200, 205, 0.6);
            }
          }
        }
      }

      &.abilities-section {
        gap: 6px;

        .abilities-edit-buttons {
          gap: 10px;

          .abilities-edit-btn {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px;
            border: 1px outset #318ce7;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;

            img {
              height: 16px;
              width: 16px;
            }

            &.lock-opened {
              background-color: rgba(222, 25, 60, 0.6);
            }

            &.lock-closed {
              background-color: rgba(0, 100, 170, 0.6);
            }

            &:hover {
              background-color: rgba(185, 200, 205, 0.6);
            }
          }
        }

        .abilities-list {
          border: 1px solid #318ce7;
          // gap: 5px;
          // padding: 3px 0;
          background-color: white;
          font-size: 13px;
          color: black;
          min-height: 63px;

          .ability-input {
            border: none;
            padding: 3px;
            height: 15px;

            &.selected {
              background-color: #ADCAF9;
            }

            .inplace-edit-div {
              height: 15px;
            }

            .inplace-edit-input {
              padding: 0;
              margin: -2px;

              &:focus-visible {
                outline: none;
              }
            }
          }
        }
      }

      &.card-attributes {
        .card-attributes-icons {
          .card-attribute-container {
            height: 30px;

            .card-attribute {
              &.selected {
                border: 2px solid black;
                border-radius: 17px;
                margin: -3px;
                padding: 1px;
              }
            }
          }
        }

        .card-no-text-attribute {
          margin-top: 7px;
        }
      }

      &.card-st-icons {
        .card-st-icons-icons {
          .card-st-icon-container {
            height: 30px;

            .card-st-icon {
              height: 30px;
              width: 30px;

              &.selected {
                border: 2px solid black;
                border-radius: 17px;
                margin: -3px;
                padding: 1px;
              }
            }
          }
        }
      }

      &.card-frames {
        .card-frames-icons {
          .card-frame-container {
            height: 50px;

            .card-frame {
              &.selected {
                border: 2px solid black;
                border-radius: 3px;
                margin: -2px;
              }
            }
          }
        }

        .card-multiple-frames {
          margin-top: 10px;
        }
      }

      &.card-levels {
        .card-levels-icons {
          .card-level-container {
            width: 30px;
            height: 30px;
            line-height: 30px;

            .card-level {
              margin: 0;
              width: 30px;
              height: 30px;
              line-height: 30px;
              color: black;
              font-size: 13px;
              text-align: center;
              background-color: lightgray;
              border-radius: 3px;

              &.selected {
                border: 2px solid black;
                margin: -2px;
              }
            }
          }
        }
      }

      &.card-input-container {
        &.card-artwork {
          align-items: center;
        }

        .card-input {
          width: 85%;

          &.artwork-input {
            width: 75%;
            height: 19px;
          }
        }

        .artwork-btn {
          display: flex;
          align-items: center;
          width: fit-content;
          padding: 8px;
          margin-left: 2%;
          border: 1px outset lightgray;
          border-radius: 4px;
          cursor: pointer;
          width: auto;
          height: 25px;
          width: 33px;
          background-color: lightgrey;
        }

        .artwork-hidden-input {
          display: none;
        }
      }

      &.card-textarea {
        .textarea-input {
          font-family: Arial, Helvetica, sans-serif;
          text-align: justify;
          resize: none;
          height: 115px;
        }
      }

    }
  }
}
