.card-editor {
  height: 100%;
  width: 30%;
  margin-left: 10px;
  align-items: flex-start;
  font-size: 15px; }

.card-editor .editor-label {
  color: black;
  margin: 5px 0; }

.card-editor .editor-label.label-with-separator {
  border-bottom: 1px solid darkgray;
  padding-bottom: 5px; }

.card-editor .card-editor-section {
  max-width: 100%;
  margin: 10px 0 10px 10px; }

.card-editor .card-editor-section.card-attributes .card-attributes-icons {
  max-width: 100%;
  flex-wrap: wrap; }

.card-editor .card-editor-section.card-attributes .card-attributes-icons .card-attribute-container {
  height: 30px;
  margin: 2px 10px 2px 0; }

.card-editor .card-editor-section.card-attributes .card-attributes-icons .card-attribute-container .card-attribute.selected {
  border: 2px solid black;
  border-radius: 3px;
  margin: -2px; }

.card-editor .card-editor-section.card-frames .card-frames-icons {
  max-width: 100%;
  flex-wrap: wrap; }

.card-editor .card-editor-section.card-frames .card-frames-icons .card-frame-container {
  height: 50px;
  margin: 2px 10px 2px 0; }

.card-editor .card-editor-section.card-frames .card-frames-icons .card-frame-container .card-frame.selected {
  border: 2px solid black;
  border-radius: 3px;
  margin: -2px; }
