.card-handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  width: 100%;

  .editor-tabbed-pane {
    height: 100%;
    width: 30%;
    background-color: aliceblue;
  }

  .frames-stack {
    position: relative;
    width: 400px; // Largeur souhaitée du conteneur
    height: 600px; // Hauteur souhaitée du conteneur
    margin: 0 auto;
    overflow: hidden;
  }

  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .image-clip {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-frame {
    width: 100%;
    height: 100%;
  }

  .card-frame-test {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    // mix-blend-mode: lighten; // Pour mélanger les couleurs des images superposées
    // clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  }
}
