@import "../../libraries/mn-toolkit/index.scss";

@font-face {
  font-family: fontAbilities;
  src: url(../resources/fonts/itcStoneSerifBold.ttf);
}

// Vraiment parce que c'est plus simple de hacker comme ça
.mn-zindex-content {
  z-index: inherit !important;
}

.card-handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  width: 100%;

  .new-version {
    border: 1px solid black;
    border-radius: $themeDefaultBorderRadius;
    background-color: $positive;

    .mn-typography {
      color: white !important;
    }
  }

  .editor-tabbed-pane {
    $defaultColor: aliceblue;
    $masterColor: #FFFFB2;
    $rushColor: #FFB2B2;

    height: 100%;
    width: 30%;
    background-color: $defaultColor;
    display: flex;

    .mn-tab-panes {
      background-color: transparent;
    }

    .mn-tabset {
      .item {
        &#mn-tab-button-master {
          &:hover {
            background-color: $masterColor;
          }

          &.selected {
            background-color: $masterColor;
          }
        }

        &#mn-tab-button-rush {
          &:hover {
            background-color: $rushColor;
          }

          &.selected {
            background-color: $rushColor;
          }
        }

        .label {
          font-family: fontAbilities;
          text-transform: uppercase;
        }
      }
    }

    .mn-tab-pane {
      overflow-x: hidden;

      &#master {
        background-color: $masterColor;

        .pendulum-details {
          &.opened {
            .card-pendulum {
              background-color: $masterColor;
            }
          }
        }
      }

      &#rush {
        background-color: $rushColor;
      }
    }
  }

  .frames-stack {
    position: relative;
    width: 400px; // Largeur souhaitée du conteneur
    height: 600px; // Hauteur souhaitée du conteneur
    margin: 0 auto;
    overflow: hidden;
  }

  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .image-clip {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-frame {
    width: 100%;
    height: 100%;
  }

  .card-frame-test {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    // mix-blend-mode: lighten; // Pour mélanger les couleurs des images superposées
    // clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
  }
}
