@mixin themeSearchBar() {
  height: fit-content;

  border: calc(#{$fieldBorderSize}) solid $fieldBorderColor;
  border-radius: calc(#{$defaultBorderRadius});

  @include shadow(0);

  &.mn-focus {
    border-color: color-hsl($primary);
  }

  .search-icon-container-button {
    margin-left: calc(#{$defaultSpacing} / 2);
  }

  input {
    $inputHeight: calc(#{$defaultItemHeight});
    line-height: $inputHeight;
    height: $inputHeight;
    padding: 0 8px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: color-hsl($fg1);

    &::placeholder {
      color: color-hsl($fg3);
    }
  }
}

.mn-search-bar {
  @include themeSearchBar();
}
