$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$primary: $royal !default;
$secondary: $calm !default;

$theme-dark-bg: (#181818 #414141 #555555 #9d9d9d) !default;
$theme-dark-fg: (#e9e9e9 #b8b8b8 #696969 #707070) !default;
$theme-light-bg: (#ffffff #F6F8F9 #EEF0F2 #E5E9EB) !default;
$theme-light-fg: (#474747 #8a8a8a #9e9e9e #e4e4e4) !default;

$themeDefaultSpacing: 16px;
$themeDefaultItemHeight: 32px;
$themeDefaultBorderRadius: 6px;
$themeDefaultFontSize: 16px;
$themeMaxContentWidth: 750px;
$themeMaxListWidth: 749px;
$fieldBorderSize: 1px;

@mixin bg($index:1) {
  background-color: nth($theme-light-bg, $index);
  .mn-dark-theme & {
    background-color: nth($theme-dark-bg, $index);
  }
}

@mixin fgAsBg($index:1) {
  background-color: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    background-color: nth($theme-dark-fg, $index);
  }
}


@mixin bgAsFg($index:1) {
  color: nth($theme-light-bg, $index);
  .mn-dark-theme & {
    color: nth($theme-dark-bg, $index);
  }
}

@mixin fill($index:1) {
  fill: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    fill: nth($theme-dark-fg, $index);
  }
}

@mixin bgAsFill($index:1) {
  fill: nth($theme-light-bg, $index);
  color: nth($theme-light-bg, $index);
  .mn-dark-theme & {
    fill: nth($theme-dark-bg, $index);
    color: nth($theme-dark-bg, $index);
  }
}

@mixin fg($index:1) {
  color: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    color: nth($theme-dark-fg, $index);
  }
}

@mixin strokeFg($index:1) {
  stroke: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    stroke: nth($theme-dark-fg, $index);
  }
}

@mixin strokeBg($index:1) {
  stroke: nth($theme-light-bg, $index);
  .mn-dark-theme & {
    stroke: nth($theme-dark-bg, $index);
  }
}

@mixin caret-color($index:1) {
  caret-color: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    caret-color: nth($theme-dark-fg, $index);
  }
}
@mixin border-color($index:1) {
  border-color: nth($theme-light-fg, $index);
  .mn-dark-theme & {
    border-color: nth($theme-dark-fg, $index);
  }
}

@mixin shadow($index:3) {
  @if($index==0) {
    border: 1px solid;
    @include border-color(4);
      box-shadow: none;
  }
  @if($index==1) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32); }
  @if($index==2) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 4px 8px rgba(91, 104, 113, 0.24); }
  @if($index==3) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 8px 16px rgba(91, 104, 113, 0.24); }
  @if($index==4) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 12px 24px rgba(91, 104, 113, 0.24); }
  @if($index==5) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 24px 32px rgba(91, 104, 113, 0.24); }
  @if($index==6) { box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 40px 64px rgba(91, 104, 113, 0.24); }
  .mn-dark-theme & {
    box-shadow: none;
    border: 1px solid;
    @include border-color(2);
  }
}
.mn-bg-1 { @include bg(1); }
.mn-bg-2 { @include bg(2); }
.mn-bg-3 { @include bg(3); }
.mn-bg-4 { @include bg(4); }
.mn-bg-primary { background-color: $primary }
.mn-bg-secondary { background-color: $secondary }
.mn-bg-positive { background-color: $positive }
.mn-bg-calm { background-color: $calm }
.mn-bg-balanced { background-color: $balanced }
.mn-bg-energized { background-color: $energized }
.mn-bg-assertive { background-color: $assertive }
.mn-bg-royal { background-color: $royal }

$energized: $assertive !default;

$theme-default-font-name: Verdana, Helvetica, sans-serif !default;

$theme-small-ratio: 0.7;

$z-index-content: 0;
$z-index-title-bar: 1;
$z-index-view: 1;
$z-index-notifications: 2;
$z-index-view-below: 2;
$z-index-view-above: 3;
$z-index-overlay: 6;
$z-index-drawer: 7;
$z-index-popup: 7;
$z-index-toaster: 7;
$z-index-popover-overlay: 8;
$z-index-popover: 9;
$z-index-overall: 100;

.mn-zindex-content { z-index: $z-index-content; }
.mn-zindex-view { z-index: $z-index-view; }
.mn-zindex-notifications { z-index: $z-index-notifications; }
.mn-zindex-view-below { z-index: $z-index-view-below; }
.mn-zindex-view-above { z-index: $z-index-view-above; }
.mn-zindex-drawer { z-index: $z-index-drawer; }
.mn-zindex-overlay { z-index: $z-index-overlay; }
.mn-zindex-popup { z-index: $z-index-popup; }
.mn-zindex-popover { z-index: $z-index-popover; }
.mn-zindex-toaster { z-index: $z-index-toaster; }
.mn-zindex-overall { z-index: $z-index-overall; }

@mixin themeTypographyEnrichment {
  em,
  i {
    font-style: italic;
  }
  strong,
  b {
    font-weight: bold;
  }
  u {
    text-decoration: underline;
  }
  a {
    color: $primary;
    .mn-dark-theme & {
      color: white(0.7);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin themeTypographyText() {
  font-size: 16px;
  line-height: 140%;
  font-family: $theme-default-font-name;
}

@mixin themeTypographyColor() {
  &.mn-color-primary { color: $primary; }
  &.mn-color-positive { color: $positive; }
  &.mn-color-calm { color: $calm; }
  &.mn-color-balanced { color: $balanced; }
  &.mn-color-energized { color: $energized; }
  &.mn-color-assertive { color: $assertive; }
  &.mn-color-royal { color: $royal; }
  &.mn-color-1 { color: nth($theme-light-fg, 1); }
  &.mn-color-2 { color: nth($theme-light-fg, 2); }
  &.mn-color-3 { color: nth($theme-light-fg, 3); }
  &.mn-color-4 { color: nth($theme-light-fg, 4); }

  .mn-dark-theme &.mn-color-1 { color: nth($theme-dark-fg, 1); }
  .mn-dark-theme &.mn-color-2 { color: nth($theme-dark-fg, 2); }
  .mn-dark-theme &.mn-color-3 { color: nth($theme-dark-fg, 3); }
  .mn-dark-theme &.mn-color-4 { color: nth($theme-dark-fg, 4); }
}

@mixin themeTypographyH1() {
  margin: calc($themeDefaultSpacing / 2) 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  @include themeTypographyColor();
}

@mixin themeTypographyH2() {
  margin: $themeDefaultSpacing 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 120%;
  @include themeTypographyColor();
}

@mixin themeTypographyH3() {
  margin: $themeDefaultSpacing 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  @include themeTypographyColor();
}

@mixin themeTypographyH4() {
  margin: calc($themeDefaultSpacing / 2) 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  @include themeTypographyColor();
}

@mixin themeTypographyH5() {
  margin: calc($themeDefaultSpacing / 2) 0;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.6;
  @include themeTypographyColor();
}

@mixin themeTypographyH6() {
  margin: calc($themeDefaultSpacing / 2) 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  @include themeTypographyColor();
}

@mixin themeTypographyList {
  list-style-position: outside;
  margin: 0 0 $themeDefaultSpacing * 2 $themeDefaultSpacing * 2;
  li {
    margin-top: calc($themeDefaultSpacing / 2);
    line-height: 25px;
  }
}

@mixin themeTypographyOL {
  @include themeTypographyList();
  list-style-type: decimal;
  ol {
    list-style-type: lower-latin;
  }
}

@mixin themeTypographyUL {
  @include themeTypographyList();
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}

@mixin themeTypographySubtitle {
  @include themeTypographyText();
  line-height: 1.75;
}

@mixin themeTypographyLabel {
  font: 400 20px/130% $theme-default-font-name;
  letter-spacing: -0.3px;
  @include fg(1);
  pointer-events: none;
}

@mixin themeTypographyCaption {
  @include fg(2);
  font: 400 14px/120% $theme-default-font-name;
  font-style: italic;
  @include themeTypographyColor();
}

@mixin themeTypographyHelp {
  font: 400 14px/140% $theme-default-font-name;
  @include themeTypographyColor();
}

@mixin themeTypographyParagraph {
  @include themeTypographyText();
  margin-bottom: $themeDefaultSpacing;
}

@mixin themeTypographyBlockquote {
  &:not(.code-block) {
    @include bg(2);
    border-left: 5px solid #ccc !important;
    @include border-color(1);
    margin: $themeDefaultSpacing 0 !important;
    padding: $themeDefaultSpacing !important;
    quotes: none;
    &:before {
      @include fg(2);
      content: '“';
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    p {
      &:last-child {
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
        display: inline,
      }
    }
  }
}

@mixin themeTypographyDocument {
  @include themeTypographyText();
  blockquote,
  q {
    @include themeTypographyBlockquote();
  }
  p {
    @include themeTypographyParagraph();
  }
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 130%;
}

.mn-typography-right {
  text-align: right;
}
.mn-typography-center {
  text-align: center;
}

.mn-typography-h1 {
  @include themeTypographyH1;
}
.mn-typography-h2 {
  @include themeTypographyH2;
}
.mn-typography-h3 {
  @include themeTypographyH3;
}
.mn-typography-h4 {
  @include themeTypographyH4;
}
.mn-typography-h5 {
  @include themeTypographyH5;
}
.mn-typography-h6 {
  @include themeTypographyH6;
}
.mn-typography-subtitle {
  @include themeTypographySubtitle;
}
.mn-typography-paragraph {
  @include themeTypographyParagraph;
}

.mn-typography-caption {
  @include themeTypographyCaption;
}
.mn-typography-help {
  @include themeTypographyHelp;
}
.mn-typography-label {
  @include themeTypographyLabel;
  @include themeTypographyEnrichment;
}

.mn-typography-document {
  @include themeTypographyDocument;
}
.mn-typography-attention {
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(red, 0.2);
  border: 1px solid rgba(red, 0.2);
  border-radius: $themeDefaultBorderRadius;
  color: rgba(red, 0.6);
}

.mn-typography-no-wrap {
  @include text-overflow;
}

.mn-typography {
  color: #474747;
}

.mn-typography-h1 {
  @include themeTypographyH1();
  margin: 0;
}
.mn-typography-h2 {
  @include themeTypographyH2();
  margin: 0;
}
.mn-typography-h3 {
  @include themeTypographyH3();
  margin: 0;
}
.mn-typography-h4 {
  @include themeTypographyH4();
  margin: 0;
}
.mn-typography-h5 {
  @include themeTypographyH5();
  margin: 0;
}
.mn-typography-h6 {
  @include themeTypographyH6();
  margin: 0;
}
