.card-preview {
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%; }

.card-preview .cover {
  top: 0;
  left: 0;
  height: 1200px;
  width: 900px;
  position: absolute;
  background-color: aliceblue; }

.card-preview .card-preview-img {
  position: absolute;
  align-self: center;
  height: auto;
  width: 100%;
  z-index: 1; }

.card-preview .card-preview-img.rendering {
  position: absolute;
  z-index: 2; }

.card-preview .card-preview-img.rendering.hidden {
  visibility: hidden; }
