@mixin themeSearchBar() {
  $height: $themeDefaultItemHeight;
  background-color: white;

  .mn-dark-theme & {
    background-color: white(0.15);
  }

  border-radius: $themeDefaultBorderRadius;
  display: flex;
  align-items: center;

  border: $fieldBorderSize solid;
  border-color: #c3c3c3;
  border-radius: $themeDefaultBorderRadius;
  @include bg(1);
  @include fx(border-color, box-shadow);
  box-shadow: 0 0 10px black(0.16) inset;

  &:hover {
    background-color: black(0.15);

    .mn-dark-theme & {
      background-color: white(0.25);
    }
  }

  .search-icon {
    &.search-icon-right {
      margin-right: $themeDefaultSpacing;
    }

    &.search-icon-left {
      margin-left: $themeDefaultSpacing;
    }
  }

  input {
    line-height: $height;
    height: $height;
    padding: 0 8px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: black(0.87);

    .mn-dark-theme & {
      color: white;
    }

    &::placeholder {
      color: black(0.4);
      .mn-dark-theme & {
        color: white(0.4);
      }
    }
  }
}

@mixin themeSearchBarDropdown() {
  flex: 1;
  $height: $themeDefaultItemHeight;
  background-color: white;

  .mn-dark-theme & {
    background-color: white(0.15);
  }

  border-style: solid;
  border-radius: $themeDefaultBorderRadius;
  border-width: 1px;
  border-color: #d5d7f1;
  display: flex;
  align-items: center;

  &:hover {
    background-color: black(0.15);

    .mn-dark-theme & {
      background-color: white(0.25);
    }
  }

  .search-icon {
    width: 35px;
    height: $height;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &:before {
      line-height: $height;
      color: black(0.5);
      .mn-dark-theme & {
        color: white;
      }
    }
  }

  input {
    line-height: $height;
    height: $height;
    padding: 0 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: black(0.87);

    .mn-dark-theme & {
      color: white;
    }

    &::placeholder {
      color: black(0.4);
      .mn-dark-theme & {
        color: white(0.4);
      }
    }
  }
}

.search-option {
  background-color: white;
}

.mn-search-bar {
  @include themeSearchBar;
}

.mn-search-bar-dropdown {
  @include themeSearchBarDropdown;
}
