.mn-progress {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mn-progress.mn-fill {
  flex: 1;
  overflow: hidden;
}
.mn-progress.has-click {
  cursor: pointer;
}
.mn-progress .message {
  margin: 5px 0 0 0;
  font-size: 12px;
  padding: 0;
  text-align: right;
}
.mn-progress .message p {
  margin: 0;
  padding: 0;
}
.mn-progress .message .percent {
  float: right;
  color: gray;
  padding-left: 0.5em;
}
.mn-progress .message .percent:after {
  content: "%";
}
.mn-progress .progress {
  position: relative;
  height: 7px;
  border-radius: 7px;
  background: rgba(136, 106, 234, 0.3);
  overflow: hidden;
  will-change: background-color;
  transition: background-color 0.2s ease;
}
.mn-progress .progress .bar {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 7px;
  will-change: width, background-color;
  transition: width, background-color 0.2s ease;
  background: #886aea;
}
.mn-progress.overload .progress {
  background: rgba(211, 41, 2, 0.3);
}
.mn-progress.overload .progress .bar {
  background-color: #d32902;
}
.mn-progress.mn-color-primary .progress {
  background: rgba(136, 106, 234, 0.3);
}
.mn-progress.mn-color-primary .progress .bar {
  background: #886aea;
}
.mn-progress.mn-color-primary .message {
  color: #886aea;
}
.mn-progress.mn-color-positive .progress {
  background: rgba(56, 126, 245, 0.3);
}
.mn-progress.mn-color-positive .progress .bar {
  background: #387ef5;
}
.mn-progress.mn-color-positive .message {
  color: #387ef5;
}
.mn-progress.mn-color-calm .progress {
  background: rgba(17, 193, 243, 0.3);
}
.mn-progress.mn-color-calm .progress .bar {
  background: #11c1f3;
}
.mn-progress.mn-color-calm .message {
  color: #11c1f3;
}
.mn-progress.mn-color-balanced .progress {
  background: rgba(51, 205, 95, 0.3);
}
.mn-progress.mn-color-balanced .progress .bar {
  background: #33cd5f;
}
.mn-progress.mn-color-balanced .message {
  color: #33cd5f;
}
.mn-progress.mn-color-energized .progress {
  background: rgba(255, 201, 0, 0.3);
}
.mn-progress.mn-color-energized .progress .bar {
  background: #ffc900;
}
.mn-progress.mn-color-energized .message {
  color: #ffc900;
}
.mn-progress.mn-color-assertive .progress {
  background: rgba(239, 71, 58, 0.3);
}
.mn-progress.mn-color-assertive .progress .bar {
  background: #ef473a;
}
.mn-progress.mn-color-assertive .message {
  color: #ef473a;
}
.mn-progress.mn-color-royal .progress {
  background: rgba(136, 106, 234, 0.3);
}
.mn-progress.mn-color-royal .progress .bar {
  background: #886aea;
}
.mn-progress.mn-color-royal .message {
  color: #886aea;
}
.mn-progress.mn-color-1 .progress {
  background: rgba(255, 255, 255, 0.3);
}
.mn-progress.mn-color-1 .progress .bar {
  background: #ffffff;
}
.mn-progress.mn-color-1 .message {
  color: #ffffff;
}
.mn-progress.mn-color-2 .progress {
  background: rgba(246, 248, 249, 0.3);
}
.mn-progress.mn-color-2 .progress .bar {
  background: #F6F8F9;
}
.mn-progress.mn-color-2 .message {
  color: #F6F8F9;
}
.mn-progress.mn-color-3 .progress {
  background: rgba(238, 240, 242, 0.3);
}
.mn-progress.mn-color-3 .progress .bar {
  background: #EEF0F2;
}
.mn-progress.mn-color-3 .message {
  color: #EEF0F2;
}
.mn-progress.mn-color-4 .progress {
  background: rgba(229, 233, 235, 0.3);
}
.mn-progress.mn-color-4 .progress .bar {
  background: #E5E9EB;
}
.mn-progress.mn-color-4 .message {
  color: #E5E9EB;
}
.mn-progress.mn-thickness-l .progress {
  height: 14px;
  border-radius: 7px;
}
.mn-progress.mn-thickness-l .progress .bar {
  border-radius: 7px;
}
.mn-progress.mn-thickness-xl .progress {
  height: 28px;
  border-radius: 14px;
}
.mn-progress.mn-thickness-xl .progress .bar {
  border-radius: 14px;
}
.mn-progress.mn-thickness-xs .progress {
  height: 2px;
  border-radius: 0;
}
.mn-progress.mn-thickness-xs .progress .bar {
  border-radius: 0;
}

/*# sourceMappingURL=styles.css.map */
