@keyframes indeterminateProgress {
  0% {
    left: 0%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0%;
  }
}

@mixin colorizeProgressBar($color) {
  color: unset;

  .progress {
    background: rgba($color, 0.3);

    .bar {
      background: $color;
    }
  }

  .message {
    color: $color;
  }
}

@mixin themeProgressBar() {
  @include mnLayoutContainable();
  $overloadColor: #d32902;
  display: flex;
  flex-direction: column;

  .message {
    margin: 5px 0 0 0;
    font-size: 12px;
    padding: 0;
    text-align: right;

    p {
      margin: 0;
      padding: 0;
    }

    .percent {
      float: right;
      color: gray;
      padding-left: 0.5em;

      &:after {
        content: '%';
      }
    }
  }

  .progress {
    position: relative;
    height: 7px;
    border-radius: 7px;
    background: rgba($primary, 0.3);
    overflow: hidden;
    @include fx(background-color);

    .bar {
      @include fill-all;
      border-radius: 7px;
      @include fx(width, background-color);
      background: $primary;
    }
  }

  &.overload {
    .progress {
      background: rgba($overloadColor, 0.3);

      .bar {
        background-color: $overloadColor;
      }
    }
  }

  &.indeterminate {
    .progress {
      .bar {
        animation: indeterminateProgress 3s linear infinite;
        width: 20%;
      }
    }
  }

  &.mn-color-primary {
    @include colorizeProgressBar($primary);
  }
  &.mn-color-secondary {
    @include colorizeProgressBar($secondary);
  }
  &.mn-color-tertiary {
    @include colorizeProgressBar($tertiary);
  }
  &.mn-color-positive {
    @include colorizeProgressBar($positive);
  }
  &.mn-color-negative {
    @include colorizeProgressBar($negative);
  }
  &.mn-color-neutral {
    @include colorizeProgressBar($neutral);
  }
  &.mn-color-warning {
    @include colorizeProgressBar($warning);
  }
  &.mn-color-info {
    @include colorizeProgressBar($info);
  }
  &.mn-color-1 {
    @include colorizeProgressBar(nth($theme-light-bg, 1));
  }
  &.mn-color-2 {
    @include colorizeProgressBar(nth($theme-light-bg, 2));
  }
  &.mn-color-3 {
    @include colorizeProgressBar(nth($theme-light-bg, 3));
  }
  &.mn-color-4 {
    @include colorizeProgressBar(nth($theme-light-bg, 4));
  }

  &.mn-thickness-l {
    .progress {
      height: 14px;
      border-radius: 7px;
      .bar {
        border-radius: 7px;
      }
    }
  }

  &.mn-thickness-xl {
    .progress {
      height: 28px;
      border-radius: 14px;
      .bar {
        border-radius: 14px;
      }
    }
  }

  &.mn-thickness-xs {
    .progress {
      height: 2px;
      border-radius: 0;
      .bar {
        border-radius: 0;
      }
    }
  }
}

.mn-progress {
  @include themeProgressBar();
}

@mixin colorizeStepProgressBar($color) {
  .segment,
  .step {
    &.mn-step-progress-on {
      border-color: $color;
      background-color: $color;
    }
  }
}

@mixin themeStepProgressBar() {
  .step {
    flex: 1 1 0%;
    margin: 0;
    padding: 0;
    min-width: 24px;

    &:last-child {
      flex-grow: 1;
    }

    &:last-child .step-circle::after {
      border-style: dotted;
      border-color: rgb(224, 224, 224);
    }

    .step-text {
      margin: calc($themeDefaultSpacing / 2);
    }

    .step-circle {
      display: block;
      position: relative;
      z-index: $z-index-content;
      content: 'xxx';
      padding-top: 26px;

      &::before {
        content: attr(data-text);
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        padding-bottom: 2px;
        border-radius: 50%;
        transition: background-color, border-color;
        transition-duration: 0.3s;
        background-color: #b6b6b6;
        @include bgAsFg(1);
        font-size: 15px;
        line-height: 25px;
        text-align: center;
      }

      .pointer {
        position: absolute;
        top: 0;
        left: 2px;
        color: $primary;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: $z-index-content - 1;
        top: 36px;
        right: -12px;
        width: 100%;
        height: 4px;
        border-top: 0px solid red;
        border-bottom: 4px solid#b6b6b6;
        transition:
          border-color 0.3s,
          background-position 0.3s;
      }
    }

    &:not(.disabled) {
      .step-circle {
        &:before {
          background-color: $secondary;
        }
      }
      .step-text {
        border-left: 3px dotted $primary;
      }
    }

    &.completed {
      .step-circle {
        &:after,
        &:before {
          background-color: $primary;
          border-color: $primary;
        }
      }
      .step-text {
        border-left: 3px dotted transparent;
      }
    }

    &.active {
      .step-circle {
        &:before {
          background-color: $primary;
        }
      }
      .pointer {
        display: block;
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: pointer;
      .step-text {
        opacity: 0.7;
      }
    }

    &:hover {
      .step-text {
        border-left: 3px dotted $primary;
      }
      .step-circle {
        &:before {
          background-color: darken($primary, 10%);
        }
      }
    }
  }

  .step-text {
    transition: border-color 0.4s ease;
    border-left: 3px solid transparent;
    padding-left: 4px;
    display: block;
    margin: calc($themeDefaultSpacing / 2) 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.mn-color-primary {
    @include colorizeStepProgressBar($primary);
  }
  &.mn-color-secondary {
    @include colorizeStepProgressBar($secondary);
  }
  &.mn-color-tertiary {
    @include colorizeStepProgressBar($tertiary);
  }
  &.mn-color-positive {
    @include colorizeStepProgressBar($positive);
  }
  &.mn-color-negative {
    @include colorizeStepProgressBar($negative);
  }
  &.mn-color-neutral {
    @include colorizeStepProgressBar($neutral);
  }
  &.mn-color-warning {
    @include colorizeStepProgressBar($warning);
  }
  &.mn-color-info {
    @include colorizeStepProgressBar($info);
  }
  &.mn-color-1 {
    .segment,
    .step {
      &.mn-step-progress-on {
        border-color: nth($theme-light-bg, 1);
        @include bg(1);
      }
    }
  }
  &.mn-color-2 {
    .segment,
    .step {
      &.mn-step-progress-on {
        border-color: nth($theme-light-bg, 2);
        @include bg(2);
      }
    }
  }
  &.mn-color-3 {
    .segment,
    .step {
      &.mn-step-progress-on {
        border-color: nth($theme-light-bg, 3);
        @include bg(3);
      }
    }
  }
  &.mn-color-4 {
    .segment,
    .step {
      &.mn-step-progress-on {
        border-color: nth($theme-light-bg, 4);
        @include bg(4);
      }
    }
  }
}

.mn-step-progress {
  @include themeStepProgressBar();
}
