@mixin themeRichTextEditor() {
  position: relative;
  display: block;
  width: 100%;

  $editorTopBottomPadding: calc(#{$defaultSpacing} * 3 / 4);
  $editorLeftRightPadding: calc(#{$defaultSpacing} / 2);
  .lexical-editor-inner {
    position: relative;

    .lexical-editor-input {
      @include themeTypography();
      position: relative;
      padding: $editorTopBottomPadding $editorLeftRightPadding;
      border-width: 1px;
      border-style: solid;
      border-color: color-hsl($fg4);
      border-radius: calc(#{$defaultBorderRadius});

      > p:last-child {
        margin-bottom: 0;
      }
    }

    .lexical-editor-placeholder {
      position: absolute;
      top: $editorTopBottomPadding;
      left: $editorLeftRightPadding;
      color: color-hsl($fg2);
      pointer-events: none;
    }
  }

  &.toolbar-fixed-mode {
    .mn-rich-text-editor-toolbar {
      border-radius: calc(#{$defaultBorderRadius}) calc(#{$defaultBorderRadius}) 0 0;
      border-bottom: 0px;
    }

    .lexical-editor-inner {
      .lexical-editor-input {
        border-radius: 0 0 calc(#{$defaultBorderRadius}) calc(#{$defaultBorderRadius});
      }
    }
  }
}

.mn-rich-text-editor {
  @include themeRichTextEditor();
}

@mixin themeRichTextEditorToolbar() {
  $iconSize: 20px;
  $padding: calc(#{$defaultSpacing} / 4);
  $containerSize: calc(#{$iconSize} + #{$padding} * 2);

  padding: calc(#{$defaultSpacing} / 2) calc(#{$defaultSpacing} / 4);
  border-width: 1px;
  border-style: solid;
  border-color: color-hsl($fg4);
  border-radius: calc(#{$defaultBorderRadius});

  &.mn-layout-gutter {
    > .mn-container-inside {
      gap: calc(#{$defaultSpacing} / 2);
    }
  }

  .mn-icon-container-button {
    height: $containerSize !important;
    min-height: $containerSize !important;
    max-height: $containerSize !important;
    width: $containerSize !important;
    min-width: $containerSize !important;
    max-width: $containerSize !important;

    padding: $padding;
    border-radius: calc(#{$defaultBorderRadius});

    &:not(.active-container-button):not(.mn-icon-toolkit-undo-container-button):not(
        .mn-icon-toolkit-redo-container-button
      ) {
      opacity: 0.7;
      filter: grayscale(1);
    }

    &.active-container-button {
      background-color: color-hsl($bg2);

      .mn-icon-toolkit-format-color {
        color: var(--current-rich-text-color);
        fill: var(--current-rich-text-color);
      }

      .mn-icon-toolkit-format-background-color {
        color: var(--current-rich-text-background-color);
        fill: var(--current-rich-text-background-color);
      }
    }
  }

  .mn-toolbar-separator {
    display: inline-block;
    width: 1px;
    height: $containerSize;
    background: color-hsl($fg4);
    vertical-align: middle;
    border-radius: 1px;

    &:last-child {
      display: none;
    }
  }
}

.mn-rich-text-editor-toolbar {
  @include themeRichTextEditorToolbar();
}

@mixin themeRichTextEditorToolbarGhostContainer() {
  pointer-events: none;
  opacity: 0;
  transform: translateY(#{$defaultSpacing});
  transition:
    transform 300ms ease,
    opacity 300ms ease;

  &.visible {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
  }

  .mn-rich-text-editor-toolbar {
    background-color: color-hsl($bg1);
    width: fit-content;
  }
}

.mn-rich-text-editor-toolbar-ghost-mode-container {
  @include themeRichTextEditorToolbarGhostContainer();
}

@mixin themeRichTextField() {
  .field-wrapper {
    // For the ghost toolbar
    &.mn-fill {
      overflow: visible;
    }
  }

  .input-wrapper {
    position: relative;
    height: unset;
    min-height: unset;
    max-height: unset;
    padding: 0;

    // For the ghost toolbar
    &.mn-fill {
      overflow: visible;
    }

    .mn-rich-text-editor {
      .lexical-editor-inner {
        .lexical-editor-input {
          border-color: $fieldBorderColor;
          border-right: none;
          border-left: none;
          border-bottom: none;
        }
      }

      &.toolbar-fixed-mode {
        .mn-rich-text-editor-toolbar {
          border: none;
        }
      }

      &.toolbar-ghost-mode {
        .lexical-editor-input {
          border-top: none;
        }
      }
    }

    .mn-icon.status-icon {
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      top: auto !important;
    }
  }
}

.mn-form-field.mn-field-rich-text-editor {
  @include themeRichTextField();
}
